Repository serverless/serverless, pull requests merged in 2019-06, with the labels that each got.

#6178 Cleanup and improve Travis CI configuration
  .travis.yml
  package-lock.json
  package.json
  tests/integration-basic/tests.js
  tests/utils/child-process.js
Labels: pr/in-review, tests

#6205 Tests: Fix stub configuration
  lib/plugins/package/lib/zipService.test.js
Labels: pr/in-review, tests

#6206 Tests: Upgrade Sinon
  .travis.yml
  lib/classes/Error.test.js
  lib/classes/Variables.test.js
  lib/plugins/aws/configCredentials/awsConfigCredentials.test.js
  lib/plugins/aws/deploy/lib/checkForChanges.test.js
  lib/plugins/aws/deploy/lib/createStack.test.js
  lib/plugins/aws/provider/awsProvider.test.js
  lib/plugins/plugin/install/install.test.js
  package-lock.json
  package.json
Labels: pr/in-review, tests

#6073 Add Application Load Balancer event source
  docs/providers/aws/README.md
  docs/providers/aws/events/alb.md
  docs/providers/aws/events/alexa-skill.md
  docs/providers/aws/events/alexa-smart-home.md
  docs/providers/aws/events/cloudwatch-event.md
  docs/providers/aws/events/cloudwatch-log.md
  docs/providers/aws/events/cognito-user-pool.md
  docs/providers/aws/events/iot.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/Plugins.json
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/alb/index.js
  lib/plugins/aws/package/compile/events/alb/index.test.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.test.js
  lib/plugins/aws/package/compile/events/alb/lib/permissions.js
  lib/plugins/aws/package/compile/events/alb/lib/permissions.test.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
  lib/plugins/create/templates/aws-clojure-gradle/serverless.yml
  lib/plugins/create/templates/aws-clojurescript-gradle/serverless.yml
  lib/plugins/create/templates/aws-csharp/serverless.yml
  lib/plugins/create/templates/aws-fsharp/serverless.yml
  lib/plugins/create/templates/aws-go-dep/serverless.yml
  lib/plugins/create/templates/aws-go-mod/serverless.yml
  lib/plugins/create/templates/aws-go/serverless.yml
  lib/plugins/create/templates/aws-groovy-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/serverless.yml
  lib/plugins/create/templates/aws-nodejs/serverless.yml
  lib/plugins/create/templates/aws-provided/serverless.yml
  lib/plugins/create/templates/aws-python/serverless.yml
  lib/plugins/create/templates/aws-python3/serverless.yml
  lib/plugins/create/templates/aws-ruby/serverless.yml
  lib/plugins/create/templates/aws-scala-sbt/serverless.yml
Labels: cat/event-src, feature, pr/in-review

#6207 Do not run integration tests for PR's
  .travis.yml
Labels: pr/in-review, tests

#6192 Adding a validation to validation.js script
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: cat/api-gw, pr/in-review

#6208 Tests: Upgrade dependencies, improve isolation and experience on Windows
  .travis.yml
  lib/classes/CLI.test.js
  lib/classes/Error.test.js
  lib/classes/PluginManager.test.js
  lib/classes/Service.test.js
  lib/classes/Utils.test.js
  lib/classes/Variables.test.js
  lib/classes/YamlParser.test.js
  lib/plugins/aws/common/index.test.js
  lib/plugins/aws/deployFunction/index.test.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  lib/plugins/create/create.test.js
  lib/plugins/info/info.test.js
  lib/plugins/install/install.test.js
  lib/plugins/package/lib/zipService.test.js
  lib/plugins/remove/remove.test.js
  lib/utils/config/config.test.js
  lib/utils/fs/readFileSync.test.js
  lib/utils/fs/walkDirSync.test.js
  package-lock.json
  package.json
  scripts/test-isolated.js
  tests/mocha-reporter.js
  tests/utils/fs/index.js
  tests/utils/misc/index.js
Labels: pr/in-review, tests

#6196 Add support for S3 hosted package artifacts
  docs/providers/aws/guide/packaging.md
  lib/classes/Utils.js
  lib/classes/Utils.test.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  tests/utils/fs/index.js
Labels: cat/packaging, enhancement, pr/in-review

#6215 Remove root README generator
  README.md
  package-lock.json
  package.json
  scripts/generate-readme.js
Labels: cat/security, docs

#6217 Myho/npm lint fix
  CONTRIBUTING.md
  package.json
Labels: cat/dx, pr/in-review

#6212 Use common prefix for log groups permissions at Lambdas' execution roles
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
Labels: bug, cat/lambda, pr/in-review

#6216 `--config` option
  docs/providers/aws/cli-reference/deploy.md
  docs/providers/aws/guide/deploying.md
  docs/providers/azure/cli-reference/deploy.md
  docs/providers/azure/guide/deploying.md
  docs/providers/azure/guide/intro.md
  docs/providers/cloudflare/cli-reference/deploy.md
  docs/providers/cloudflare/guide/deploying.md
  docs/providers/fn/cli-reference/deploy.md
  docs/providers/fn/guide/deploying.md
  docs/providers/fn/guide/intro.md
  docs/providers/google/cli-reference/deploy.md
  docs/providers/google/guide/deploying.md
  docs/providers/google/guide/intro.md
  docs/providers/kubeless/cli-reference/deploy.md
  docs/providers/kubeless/guide/deploying.md
  docs/providers/kubeless/guide/intro.md
  docs/providers/openwhisk/cli-reference/deploy.md
  docs/providers/openwhisk/guide/deploying.md
  docs/providers/openwhisk/guide/intro.md
  docs/providers/spotinst/cli-reference/deploy.md
  docs/providers/spotinst/guide/intro.md
  lib/Serverless.js
  lib/classes/CLI.js
  lib/classes/PluginManager.js
  lib/classes/Service.js
  lib/classes/Service.test.js
  lib/classes/Utils.js
  lib/plugins/package/lib/packageService.js
  lib/plugins/package/lib/packageService.test.js
  lib/plugins/print/print.js
  lib/plugins/print/print.test.js
  lib/utils/autocomplete.js
  lib/utils/getServerlessConfigFile.js
  lib/utils/getServerlessConfigFile.test.js
Labels: cat/dx, enhancement, pr/in-review

#6232 Release v1.45.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: pr/in-review

#6234 Fix Travis CI deploy config
  .travis.yml
  package.json
Labels: pr/in-review

#6240 Fix IAM policies setup for functions with custom name
  CHANGELOG.md
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
  package-lock.json
  package.json
Labels: bug, cat/iam, pr/in-progress

#6228 Fix formatting issue with Markdown link
  docs/providers/cloudflare/guide/intro.md
Labels: cat/providers, docs, pr/in-review

#6225 Update docs | dont use provider.tags with shared API Gateway
  docs/providers/aws/events/apigateway.md
Labels: cat/api-gw, docs, pr/in-review

#6258 fix: Update azure template
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/azure-nodejs/.funcignore
  lib/plugins/create/templates/azure-nodejs/.vscode/extensions.json
  lib/plugins/create/templates/azure-nodejs/.vscode/launch.json
  lib/plugins/create/templates/azure-nodejs/.vscode/settings.json
  lib/plugins/create/templates/azure-nodejs/.vscode/tasks.json
  lib/plugins/create/templates/azure-nodejs/goodbye.js
  lib/plugins/create/templates/azure-nodejs/goodbye/function.json
  lib/plugins/create/templates/azure-nodejs/goodbye/sample.dat
  lib/plugins/create/templates/azure-nodejs/hello.js
  lib/plugins/create/templates/azure-nodejs/hello/function.json
  lib/plugins/create/templates/azure-nodejs/hello/sample.dat
  lib/plugins/create/templates/azure-nodejs/host.json
  lib/plugins/create/templates/azure-nodejs/local.settings.json
  lib/plugins/create/templates/azure-nodejs/proxies.json
  lib/plugins/create/templates/azure-nodejs/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6254 Improve user message
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
Labels: cat/dx, pr/in-review

#6231 Reference custom ApiGateway for models and request validators if conf…
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
Labels: cat/api-gw, pr/in-review

#6256 Ensure integration tests do not fail when run concurrently
  .eslintrc.js
  tests/integration-all/api-gateway/service/serverless.yml
  tests/integration-all/api-gateway/tests.js
  tests/utils/misc/index.js
Labels: pr/in-review, tests

#6253 Improve integration test experience
  package.json
  tests/.eslintrc.js
  tests/integration-all/api-gateway/tests.js
  tests/utils/misc/index.js
Labels: cat/dx, pr/in-review, tests

#6255 Fix lambda integration timeout response template
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
  tests/integration-all/api-gateway/service/core.js
  tests/integration-all/api-gateway/service/serverless.yml
  tests/integration-all/api-gateway/tests.js
Labels: bug, cat/api-gw, pr/in-review

#6244 Fix duplicate packaging issue
  lib/plugins/package/lib/packageService.js
  lib/plugins/package/lib/packageService.test.js
  lib/plugins/package/lib/zipService.js
  lib/plugins/package/lib/zipService.test.js
  tests/utils/fs/index.js
Labels: bug, cat/packaging, pr/in-review

#6265 Fix Travis configuration for branch/tag runs
  .travis.yml
Labels: pr/in-review, tests

#6268 Fix #6267
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev, pr/in-review

#6261 #6017 Allow to load plugin from path
  docs/providers/aws/guide/plugins.md
  lib/classes/PluginManager.js
  lib/classes/PluginManager.test.js
Labels: cat/plugin, feature, pr/in-review

#6286 Added correction based on community feedback
  docs/providers/cloudflare/guide/quick-start.md
Labels: docs, pr/in-review

#6280 Remove package-lock.json and shrinkwrap scripts
  .gitignore
  RELEASE_CHECKLIST.md
  package-lock.json
  package.json
  scripts/shrinkwrap
  scripts/update-dep-shrinkwrap
Labels: cat/dx, enhancement, pr/in-review

#6200 Remove default stage value in provider object
  lib/classes/Service.js
  lib/classes/Service.test.js
Labels: cat/providers, enhancement, pr/in-review

#6285 Use naming to get stackName
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/disassociateUsagePlan.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/disassociateUsagePlan.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#6292 Fix typo in link to ALB docs
  docs/providers/aws/README.md
Labels: docs, pr/in-review

#6293 Add ip, method, header and query conditions to ALB events
  docs/providers/aws/events/alb.md
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
Labels: cat/event-src, enhancement, pr/in-review

#6272 Feature/support external websocket api
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/websockets/lib/api.js
  lib/plugins/aws/package/compile/events/websockets/lib/api.test.js
  lib/plugins/aws/package/compile/events/websockets/lib/authorizers.js
  lib/plugins/aws/package/compile/events/websockets/lib/authorizers.test.js
  lib/plugins/aws/package/compile/events/websockets/lib/deployment.js
  lib/plugins/aws/package/compile/events/websockets/lib/integrations.js
  lib/plugins/aws/package/compile/events/websockets/lib/permissions.js
  lib/plugins/aws/package/compile/events/websockets/lib/routes.js
  lib/plugins/aws/package/compile/events/websockets/lib/stage.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/api-gw, feature, pr/in-review

#6305 Release v1.46.0
  CHANGELOG.md
  package.json
Labels: pr/in-review

#6300 Add Onica as a Consultant
  README.md
Labels: docs, pr/in-review

#6301 Correct typo
  docs/providers/aws/events/apigateway.md
Labels: cat/api-gw, docs, pr/in-review

#6306 Ensure deploy is triggered in CI
  .travis.yml
Labels: enhancement, pr/in-review

#6309 Remove jsbeautify configuration
  .jsbeautifyrc
Labels: cat/dx, cleanup, pr/in-review

#6308 Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cat/dx, docs, pr/in-review

#6299 Allow users to specify API Gateway Access Log format
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#6317 Fix service.provider.region resolution
  lib/plugins/aws/provider/awsProvider.js
  tests/integration-package/cloudformation.tests.js
  tests/integration-package/fixtures/artifact/artifact.zip
  tests/integration-package/fixtures/artifact/handler.js
  tests/integration-package/fixtures/artifact/serverless.yml
  tests/integration-package/fixtures/individually/handler.js
  tests/integration-package/fixtures/individually/handler2.js
  tests/integration-package/fixtures/individually/serverless.yml
  tests/integration-package/fixtures/regular/handler.js
  tests/integration-package/fixtures/regular/serverless.yml
  tests/integration-package/lambda-files.tests.js
  tests/integration-package/packaging.tests.js
Labels: bug, cat/variable, pr/in-review
