Repository serverless/serverless, pull requests merged in 2019-11, with the labels that each got.

#6912 Note about how to move services to new apps
  docs/dashboard/README.md
Labels: cat/dashboard, docs, pr/in-review

#6869 Allow casting to boolean in Serverless variables
  docs/providers/aws/guide/variables.md
  lib/classes/Variables.js
  lib/classes/Variables.test.js
Labels: cat/variable, enhancement, pr/in-review

#6383 Create distinct target groups for different ALBs
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.test.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
Labels: cat/event-src, enhancement, pr/in-review

#6919 sls create --help improvements
  lib/plugins/create/create.js
Labels: cat/templates, enhancement, pr/in-review

#6920 Fix race conditions handling in stats requests
  lib/utils/tracking.js
Labels: bug, cat/deployment, pr/in-review

#6922 Update AWS Limits on Lambda@Edge
  docs/providers/aws/events/cloudfront.md
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: bug, cat/event-src, pr/in-review

#6879 Fixes bug with sns-cross-region definition using psuedo params
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sns/index.test.js
Labels: bug, cat/event-src, pr/in-review

#6916 Add tencent-plugins english version docs
  README.md
  docs/README.md
  docs/getting-started.md
  docs/providers/README.md
  docs/providers/tencent/README.md
  docs/providers/tencent/cli-reference/README.md
  docs/providers/tencent/cli-reference/create.md
  docs/providers/tencent/cli-reference/deploy-function.md
  docs/providers/tencent/cli-reference/deploy-list.md
  docs/providers/tencent/cli-reference/deploy.md
  docs/providers/tencent/cli-reference/info.md
  docs/providers/tencent/cli-reference/install.md
  docs/providers/tencent/cli-reference/invoke.md
  docs/providers/tencent/cli-reference/logs.md
  docs/providers/tencent/cli-reference/metrics.md
  docs/providers/tencent/cli-reference/remove.md
  docs/providers/tencent/cli-reference/rollback.md
  docs/providers/tencent/events/CMQ.md
  docs/providers/tencent/events/COS.md
  docs/providers/tencent/events/README.md
  docs/providers/tencent/events/apigateway.md
  docs/providers/tencent/events/cloud-kafka.md
  docs/providers/tencent/events/timer.md
  docs/providers/tencent/guide/README.md
  docs/providers/tencent/guide/credentials.md
  docs/providers/tencent/guide/deploying.md
  docs/providers/tencent/guide/events.md
  docs/providers/tencent/guide/functions.md
  docs/providers/tencent/guide/installation.md
  docs/providers/tencent/guide/intro.md
  docs/providers/tencent/guide/packaging.md
  docs/providers/tencent/guide/plugins.md
  docs/providers/tencent/guide/quick-start.md
  docs/providers/tencent/guide/services.md
  docs/providers/tencent/guide/variables.md
  docs/providers/tencent/guide/workflow.md
Labels: cat/providers, docs, pr/in-review

#6928 Release v1.57.0
  CHANGELOG.md
  package.json
Labels: pr/in-review

#6926 Fix missing ALB trigger in console
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/alb/lib/permissions.js
  lib/plugins/aws/package/compile/events/alb/lib/permissions.test.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.test.js
Labels: bug, cat/event-src, pr/in-review

#6051 Add support for vpc link integration discussed as part of #5025
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: cat/api-gw, feature, pr/in-review

#6924 Setup Codecov
  .codecov.yml
  .travis.yml
  README.md
  package.json
Labels: cat/tests, enhancement, pr/in-review

#6934 Fix handling of China region in S3 bucket policy
  lib/plugins/aws/package/lib/core-cloudformation-template.json
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/providers, pr/in-review

#6937 Fix policy definition
  lib/plugins/aws/package/lib/core-cloudformation-template.json
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
Labels: bug, cat/tests, pr/in-review

#6935 Fix typo in Tencent docs
  docs/providers/tencent/guide/workflow.md
Labels: docs, enhancement, pr/in-review

#6936 Add Knative provider template
  lib/plugins/create/create.js
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/knative-docker/code/app.py
  lib/plugins/create/templates/knative-docker/code/hello-world.dockerfile
  lib/plugins/create/templates/knative-docker/gitignore
  lib/plugins/create/templates/knative-docker/package.json
  lib/plugins/create/templates/knative-docker/serverless.yml
Labels: cat/templates, feature, pr/in-review

#6930 Add Knative documentation
  docs/README.md
  docs/getting-started.md
  docs/providers/README.md
  docs/providers/knative/README.md
  docs/providers/knative/cli-reference/README.md
  docs/providers/knative/cli-reference/create.md
  docs/providers/knative/cli-reference/deploy.md
  docs/providers/knative/cli-reference/info.md
  docs/providers/knative/cli-reference/install.md
  docs/providers/knative/cli-reference/invoke.md
  docs/providers/knative/cli-reference/remove.md
  docs/providers/knative/events/README.md
  docs/providers/knative/events/aws-sqs.md
  docs/providers/knative/events/cron.md
  docs/providers/knative/events/custom.md
  docs/providers/knative/events/gcp-pub-sub.md
  docs/providers/knative/events/kafka.md
  docs/providers/knative/guide/README.md
  docs/providers/knative/guide/credentials.md
  docs/providers/knative/guide/deploying.md
  docs/providers/knative/guide/events.md
  docs/providers/knative/guide/functions.md
  docs/providers/knative/guide/installation.md
  docs/providers/knative/guide/intro.md
  docs/providers/knative/guide/packaging.md
  docs/providers/knative/guide/plugins.md
  docs/providers/knative/guide/quick-start.md
  docs/providers/knative/guide/services.md
  docs/providers/knative/guide/variables.md
  docs/providers/knative/guide/workflow.md
Labels: cat/providers, docs, pr/in-review

#6938 PLAT-1798 - set env vars for AWS creds from cached credentials…
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
Labels: cat/dashboard, enhancement, pr/in-review

#6945 Add azure python to cli
  docs/providers/azure/cli-reference/create.md
  docs/providers/azure/guide/workflow.md
  lib/plugins/create/create.js
  lib/plugins/create/create.test.js
Labels: docs

#6948 Update API Gateway tagging to use partition for deployed region
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: bug, cat/api-gw

#6705 Fix: use normalized maps in zipService.js
  lib/plugins/package/lib/zipService.js
Labels: bug, cat/packaging, pr/in-progress

#6940 Add support for multi-value headers in ALB events
  docs/providers/aws/events/alb.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/alb/lib/listenerRules.js
  lib/plugins/aws/package/compile/events/alb/lib/permissions.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
Labels: cat/event-src, enhancement, pr/in-review

#6960 Add promise completion report and improve promise reporting verbiage
  lib/classes/PromiseTracker.js
  lib/classes/PromiseTracker.test.js
Labels: enhancement

#6963 Revert "Add promise completion report and improve promise reporting verbiage"
  lib/classes/PromiseTracker.js
  lib/classes/PromiseTracker.test.js
Labels: bug

#6962 Improve config error handling
  lib/utils/config/index.js
Labels: bug

#6967 sls-flask starter kit
  README.md
Labels: docs

#6966 Add variable completion report if variable progress was reported
  lib/classes/PromiseTracker.js
  lib/classes/PromiseTracker.test.js
Labels: cat/variable, enhancement

#6975 Update docs links
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/events/streams.md
  docs/providers/aws/guide/credentials.md
  docs/providers/aws/guide/events.md
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/intro.md
Labels: docs

#6982 Update documentation to include information about tags
  docs/dashboard/sdk/nodejs.md
  docs/dashboard/sdk/python.md
Labels: cat/dashboard, docs

#6978 Python3.8 support!
  docs/providers/aws/guide/layers.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/create/templates/aws-python3/serverless.yml
Labels: enhancement

#6972 Updates to CI/CD settings for the beta
  docs/dashboard/cicd/README.md
Labels: cat/dashboard, docs

#6971 rename output variables to outputs
  docs/dashboard/output-variables.md
Labels: cat/dashboard, docs

#6984 Fix Tencent Template and Readme
  docs/providers/tencent/events/CMQ.md
  docs/providers/tencent/events/COS.md
  docs/providers/tencent/events/apigateway.md
  docs/providers/tencent/events/cloud-kafka.md
  docs/providers/tencent/events/timer.md
  docs/providers/tencent/guide/functions.md
  docs/providers/tencent/guide/intro.md
  docs/providers/tencent/guide/quick-start.md
  docs/providers/tencent/guide/services.md
  lib/plugins/create/templates/tencent-go/serverless.yml
  lib/plugins/create/templates/tencent-nodejs/serverless.yml
  lib/plugins/create/templates/tencent-php/serverless.yml
  lib/plugins/create/templates/tencent-python/serverless.yml
Labels: cat/templates, docs

#6983 Default to Nodejs12.x runtime
  docs/providers/aws/cli-reference/print.md
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/events/websocket.md
  docs/providers/aws/examples/hello-world/node/serverless.yml
  docs/providers/aws/guide/credentials.md
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/aws/guide/services.md
  docs/providers/aws/guide/variables.md
  lib/classes/Service.test.js
  lib/classes/Utils.test.js
  lib/plugins/aws/customResources/index.js
  lib/plugins/aws/customResources/index.test.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/package/compile/layers/index.test.js
  lib/plugins/create/templates/aws-alexa-typescript/serverless.yml
  lib/plugins/create/templates/aws-clojurescript-gradle/serverless.yml
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/serverless.yml
  lib/plugins/create/templates/aws-nodejs-ecma-script/serverless.yml
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.yml
  lib/plugins/create/templates/aws-nodejs/serverless.yml
  lib/plugins/create/templates/azure-nodejs/serverless.yml
  lib/plugins/create/templates/hello-world/serverless.yml
  tests/integration-all/api-gateway/service/serverless.yml
  tests/integration-all/cognito-user-pool/service/serverless.yml
  tests/integration-all/event-bridge/service/serverless.yml
  tests/integration-all/iot/service/serverless.yml
  tests/integration-all/s3/service/serverless.yml
  tests/integration-all/schedule/service/serverless.yml
  tests/integration-all/sns/service/serverless.yml
  tests/integration-all/sqs/service/serverless.yml
  tests/integration-all/stream/service/serverless.yml
  tests/integration-all/websocket/service/serverless.yml
  tests/integration-package/cloudformation.tests.js
  tests/integration-package/fixtures/artifact/serverless.yml
  tests/integration-package/fixtures/individually-function/serverless.yml
  tests/integration-package/fixtures/individually/serverless.yml
  tests/integration-package/fixtures/regular/serverless.yml
Labels: enhancement

#6954 #6162: Support multiple schemas, don't overwrite RequestModels for each
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
Labels: bug

#6941 Support empty deploymentPrefix
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/aws/provider/awsProvider.test.js
Labels: cat/deployment, enhancement, pr/in-review

#6986 Fix spelling and typos in docs, code variables and code comments
  RELEASE_PROCESS.md
  VERSIONING.md
  docs/dashboard/monitoring/README.md
  docs/dashboard/monitoring/metrics.md
  docs/dashboard/profiles.md
  docs/dashboard/safeguards/available.md
  docs/dashboard/testing.md
  docs/providers/aliyun/guide/installation.md
  docs/providers/aws/events/alexa-skill.md
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/events/cloudwatch-event.md
  docs/providers/aws/examples/hello-world/csharp/README.md
  docs/providers/aws/examples/hello-world/go/README.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/aws/guide/variables.md
  docs/providers/azure/guide/intro.md
  docs/providers/azure/guide/workflow.md
  docs/providers/cloudflare/guide/intro.md
  docs/providers/fn/cli-reference/create.md
  lib/classes/CLI.js
  lib/classes/PluginManager.js
  lib/classes/Variables.js
  lib/plugins/aws/deploy/lib/checkForChanges.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/install/install.js
  lib/plugins/package/lib/packageService.js
  lib/utils/log/fileLog.js
Labels: cleanup, docs

#6990 Code cleanup and refactoring
  lib/utils/autocomplete.js
  lib/utils/downloadTemplateFromRepo.js
Labels: cleanup

#6987 Add support for contentHandling - Fixes gh-6949
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
Labels: cat/api-gw, enhancement

#7000 Fix deployment bucket SSE documentation
  docs/providers/aws/guide/serverless.yml.md
Labels: bug, docs

#7001 Make authorizer type check from #6150 case insensitive
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/authorization.js
Labels: bug, cat/api-gw

#6996 Govcloud custom resource fix
  lib/plugins/aws/customResources/resources/apiGatewayCloudWatchRole/handler.js
  lib/plugins/aws/customResources/resources/cognitoUserPool/handler.js
  lib/plugins/aws/customResources/resources/cognitoUserPool/lib/permissions.js
  lib/plugins/aws/customResources/resources/eventBridge/handler.js
  lib/plugins/aws/customResources/resources/eventBridge/lib/permissions.js
  lib/plugins/aws/customResources/resources/s3/handler.js
  lib/plugins/aws/customResources/resources/s3/lib/permissions.js
  lib/plugins/aws/customResources/resources/utils.js
  lib/plugins/aws/customResources/resources/utils.test.js
Labels: bug

#7004 Lint and style patches
  lib/classes/PluginManager.test.js
  lib/plugins/aws/deploy/lib/existsDeploymentBucket.test.js
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/package/lib/packageService.test.js
Labels: cleanup

#6999 Fix/cors omit access control allow credentials on false
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.test.js
  tests/integration-all/api-gateway/tests.js
Labels: bug, cat/api-gw

#7014 fix: remove `$context.status` from websocket access log format
  lib/plugins/aws/package/compile/events/websockets/lib/stage.js
  lib/plugins/aws/package/compile/events/websockets/lib/stage.test.js
Labels: bug

#7015 Clarifying Azure setup
  docs/providers/azure/guide/credentials.md
  docs/providers/azure/guide/quick-start.md
Labels: docs

#7024 Expose ParallelizationFactor prop for Kinesis Streams
  docs/providers/aws/events/streams.md
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: enhancement

#7025 Replace moment with dayjs
  lib/plugins/aws/logs/index.js
  lib/plugins/aws/metrics/awsMetrics.js
  lib/plugins/aws/metrics/awsMetrics.test.js
  lib/plugins/aws/utils/formatLambdaLogEvent.js
  lib/plugins/aws/utils/formatLambdaLogEvent.test.js
  lib/plugins/create/templates/aws-clojurescript-gradle/build.gradle
  package.json
Labels: cleanup

#7029 Update AWS SQS event docs regarding FIFO queue trigger for Lambda
  docs/providers/aws/events/sqs.md
Labels: docs

#7031 awsprovider - adding support for SDK sub-classes.
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/aws/provider/awsProvider.test.js
Labels: enhancement
