Repository serverless/serverless, pull requests merged in 2019-10, with the labels that each got.

#6788 Showcase how to use AWS SDK in sls helpers
  docs/providers/aws/guide/variables.md
Labels: cat/variable, enhancement, pr/in-review

#6791 Issue 4867 - Allowing InvokeBridge to find handleRequest method from super classes
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/InvokeBridge.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/AbstractRequestHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/ConcreteRequestHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/InvokeBridgeInheritanceTest.java
Labels: bug, cat/local-dev, pr/in-review

#6798 Update Azure environment variable documentation
  docs/providers/azure/guide/credentials.md
  docs/providers/azure/guide/quick-start.md
Labels: docs

#6802 Update quick-start.md
  docs/providers/aws/guide/quick-start.md
Labels: cat/dx, docs, pr/in-review

#6786 Add Questions issue template that navigate users to forums
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/questions.md
Labels: cat/dx, docs, pr/in-review

#6790 Update SLS Deploy Documentation
  docs/providers/aws/cli-reference/deploy.md
  docs/providers/azure/cli-reference/deploy-list.md
  docs/providers/azure/cli-reference/deploy.md
  docs/providers/azure/cli-reference/invoke.md
  docs/providers/cloudflare/cli-reference/deploy.md
  docs/providers/fn/cli-reference/deploy.md
  docs/providers/google/cli-reference/deploy.md
  docs/providers/kubeless/cli-reference/deploy.md
  docs/providers/openwhisk/cli-reference/deploy.md
  docs/providers/spotinst/cli-reference/deploy.md
  lib/classes/PluginManager.js
Labels: cat/packaging, docs, pr/in-review

#6779 S3 Block Public Access
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/lib/generateCoreTemplate.js
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
Labels: cat/deployment, feature, pr/in-review

#6806 Added logging Implementation for serverless openwhisk-nodejs template
  lib/plugins/create/templates/openwhisk-nodejs/handler.js
Labels: cat/templates, enhancement, pr/in-review

#6807 Release v1.54.0
  CHANGELOG.md
  package.json
Labels: pr/in-review

#6813 Allow empty arrays in overrides
  lib/classes/Variables.js
  lib/classes/Variables.test.js
Labels: bug, cat/dx, pr/in-review

#6814 Improve plugins resolution and initialization flow
  bin/serverless
  lib/classes/PluginManager.js
  lib/classes/PluginManager.test.js
  lib/plugins/Plugins.json
  lib/plugins/index.js
  package.json
Labels: cat/plugin, enhancement, pr/in-review

#6780 Pause for mfa input
  lib/plugins/aws/package/index.js
  lib/plugins/aws/package/index.test.js
Labels: bug, cat/deployment, pr/in-review

#6822 Azure Python template
  lib/plugins/create/templates/azure-python/README.md
  lib/plugins/create/templates/azure-python/gitignore
  lib/plugins/create/templates/azure-python/host.json
  lib/plugins/create/templates/azure-python/requirements.txt
  lib/plugins/create/templates/azure-python/serverless.yml
  lib/plugins/create/templates/azure-python/src/handlers/__init__.py
  lib/plugins/create/templates/azure-python/src/handlers/goodbye.py
  lib/plugins/create/templates/azure-python/src/handlers/hello.py
Labels: cat/templates, feature, pr/in-review

#6829 Chore - stop using deprecated 'new Buffer()' method.
  lib/classes/CLI.js
  lib/classes/PluginManager.test.js
  lib/plugins/aws/deployFunction/index.test.js
  lib/plugins/aws/invoke/index.js
  lib/plugins/aws/invoke/index.test.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/rollbackFunction/index.test.js
  lib/plugins/package/lib/zipService.test.js
Labels: cat/refactoring, cleanup, pr/in-review

#6828 AWS - adding naming function for S3 compiled template file name.
  lib/plugins/aws/deploy/lib/uploadArtifacts.js
  lib/plugins/aws/deploy/lib/validateTemplate.js
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/updateStack.js
  lib/plugins/aws/rollback/index.js
Labels: cat/refactoring, enhancement, pr/in-review

#6831 Revert "Pause for mfa input"
  lib/plugins/aws/package/index.js
  lib/plugins/aws/package/index.test.js
Labels: bug

#6809 Span docs! and full `serverless_sdk` docs
  docs/dashboard/monitoring/README.md
  docs/dashboard/sdk/README.md
  docs/dashboard/sdk/nodejs.md
  docs/dashboard/sdk/python.md
Labels: cat/dashboard, docs, pr/in-review

#6827 Fix perms with several CloudWatch log subscriptions
  docs/providers/aws/events/cloudwatch-log.md
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.js
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.test.js
Labels: cat/deployment, enhancement, pr/in-review

#6838 Fixing an Azure docs broken link
  docs/providers/azure/guide/quick-start.md
Labels: cat/providers, docs, pr/in-review

#6839 Adding note to Azure nodejs template
  lib/plugins/create/templates/azure-nodejs/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6840 Updated Azure Functions documentation
  docs/providers/azure/guide/functions.md
Labels: cat/providers, docs, enhancement

#6842 Support for NotAction and NotResource in IAM role statements
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
Labels: cat/iam, feature, pr/in-review

#6845 added frontmatter to sdk docs
  docs/dashboard/sdk/README.md
  docs/dashboard/sdk/nodejs.md
  docs/dashboard/sdk/python.md
Labels: docs

#6835 Setup <tab> completion via CLI command and interactive CLI step
  bin/serverless.js
  lib/plugins/config/config.js
  lib/plugins/config/config.test.js
  lib/plugins/interactiveCli/index.js
  lib/plugins/interactiveCli/initializeService.test.js
  lib/plugins/interactiveCli/setupAws.test.js
  lib/plugins/interactiveCli/tabCompletion.js
  lib/plugins/interactiveCli/tabCompletion.test.js
  lib/utils/autocomplete.js
  lib/utils/log/muteConsoleLog.js
  lib/utils/tabCompletion/isSupported.js
  lib/utils/tabCompletion/isSupported.test.js
  lib/utils/tabCompletion/promptDisabledConfigPropertyName.js
  lib/utils/tabCompletion/tabtabOptions.js
  package.json
  scripts/postinstall.js
Labels: bug, cat/dx, enhancement, pr/in-review

#6855 Upgrade gradle version
  lib/plugins/create/templates/aws-clojurescript-gradle/build.gradle
  lib/plugins/create/templates/aws-clojurescript-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-clojurescript-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-clojurescript-gradle/gradlew
  lib/plugins/create/templates/aws-clojurescript-gradle/gradlew.bat
Labels: cat/templates, enhancement, pr/in-review

#6854 Update Google provider documentation for functions
  docs/providers/google/guide/functions.md
Labels: cat/providers, docs, pr/in-review

#6846 SNS integration tests
  tests/integration-all/sns/service/core.js
  tests/integration-all/sns/service/serverless.yml
  tests/integration-all/sns/tests.js
  tests/utils/sns/index.js
Labels: cat/event-src, pr/in-review, tests

#6847 SQS integration tests
  tests/integration-all/sqs/service/core.js
  tests/integration-all/sqs/service/serverless.yml
  tests/integration-all/sqs/tests.js
  tests/utils/sqs/index.js
Labels: cat/event-src, pr/in-review, tests

#6848 Streams integration tests
  tests/integration-all/stream/service/core.js
  tests/integration-all/stream/service/serverless.yml
  tests/integration-all/stream/tests.js
  tests/utils/dynamodb/index.js
  tests/utils/kinesis/index.js
  tests/utils/misc/index.js
Labels: cat/event-src, pr/in-review, tests

#6853 Improvements on SQS docs as suggested on #6516
  docs/providers/aws/events/sqs.md
Labels: cat/event-src, docs, pr/in-review

#6857 Update event documentation
  docs/providers/aws/guide/serverless.yml.md
Labels: cat/event-src, docs, pr/in-review

#6862 Upgrade groovy/gradle/plugin versions and dependencies (aws-groovy-gradle)
  lib/plugins/create/templates/aws-groovy-gradle/build.gradle
  lib/plugins/create/templates/aws-groovy-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-groovy-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-groovy-gradle/gradlew
  lib/plugins/create/templates/aws-groovy-gradle/gradlew.bat
Labels: cat/templates, enhancement, pr/in-review

#6861 Upgrade gradle/plugins version and dependencies (aws-clojure-gradle)
  lib/plugins/create/templates/aws-clojure-gradle/build.gradle
  lib/plugins/create/templates/aws-clojure-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-clojure-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-clojure-gradle/gradlew
  lib/plugins/create/templates/aws-clojure-gradle/gradlew.bat
Labels: cat/templates, enhancement, pr/in-review

#6837 IoT integration tests
  tests/integration-all/iot/service/core.js
  tests/integration-all/iot/service/serverless.yml
  tests/integration-all/iot/tests.js
  tests/integration-all/s3/tests.js
Labels: cat/event-src, pr/in-review, tests

#6866 Update https-proxy-agent dependency
  package.json
Labels: cat/security, enhancement, pr/in-review

#6856 Allow to use Ref in stream arn property
  docs/providers/aws/events/streams.md
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: cat/event-src, enhancement, pr/in-review

#6825 Add Tests for resolveFilePathsFromPatterns()
  lib/plugins/package/lib/packageService.test.js
Labels: cat/packaging, cat/tests, pr/in-review

#6867 Integration tests improvements and fixes
  lib/classes/CLI.test.js
  lib/classes/PluginManager.test.js
  lib/utils/isTrackingDisabled.js
  lib/utils/tabCompletion/isSupported.test.js
  package.json
  tests/.eslintrc.js
  tests/integration-all/api-gateway/tests.js
  tests/integration-all/cognito-user-pool/tests.js
  tests/integration-all/event-bridge/tests.js
  tests/integration-all/iot/tests.js
  tests/integration-all/s3/tests.js
  tests/integration-all/schedule/tests.js
  tests/integration-all/sns/tests.js
  tests/integration-all/sqs/tests.js
  tests/integration-all/stream/tests.js
  tests/integration-all/websocket/tests.js
  tests/integration-basic/tests.js
  tests/integration-package/cloudformation.tests.js
  tests/integration-package/lambda-files.tests.js
  tests/serverless-binary.js
  tests/utils/cognito/index.js
  tests/utils/integration.js
  tests/utils/misc/index.js
Labels: cat/tests, enhancement, pr/in-review

#6871 Honor cfnRole in custom resources
  lib/plugins/aws/customResources/index.js
  lib/plugins/aws/customResources/index.test.js
Labels: cat/iam, enhancement, pr/in-review

#6873 Release v1.55.0
  CHANGELOG.md
  package.json
Labels: pr/in-review

#6823 AWS - deployment bucket policy for HTTPS only
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/lib/core-cloudformation-template.json
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
Labels: cat/security, enhancement, pr/in-review

#6870 Docs on renamed outputs and expanded support
  docs/dashboard/output-variables.md
Labels: docs, enhancement, pr/in-review

#6877 Fix minor typo
  docs/providers/kubeless/guide/intro.md
Labels: docs

#6697 Allow `--app` & `--org` cli option in interactive CLI
  lib/classes/CLI.js
  lib/plugins/interactiveCli/index.js
  lib/plugins/interactiveCli/initializeService.js
  package.json
Labels: cat/dashboard, enhancement, pr/in-review

#6883 Added mock integration documentation example
  docs/providers/aws/events/apigateway.md
Labels: cat/api-gw, docs, pr/in-review

#6886 Fix region error handling in Lambda@Edge implementation
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: bug, cat/event-src, pr/in-review

#6747 Allow specifying ApiGateway logs role ARN
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/customResources/resources/apiGatewayCloudWatchRole/handler.js
  lib/plugins/aws/package/compile/events/lib/ensureApiGatewayCloudWatchRole.js
  lib/plugins/aws/package/compile/events/lib/ensureApiGatewayCloudWatchRole.test.js
Labels: cat/api-gw, feature, pr/in-review

#6880 Find origin by domain name and path
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: bug, cat/event-src, pr/in-review

#6896 fix minor typo in kubeless docs
  docs/providers/kubeless/guide/functions.md
Labels: docs

#6898 Add tencent provider create-template
  lib/plugins/create/create.js
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/tencent-go/Makefile
  lib/plugins/create/templates/tencent-go/gitignore
  lib/plugins/create/templates/tencent-go/index.go
  lib/plugins/create/templates/tencent-go/package.json
  lib/plugins/create/templates/tencent-go/serverless.yml
  lib/plugins/create/templates/tencent-nodejs/gitignore
  lib/plugins/create/templates/tencent-nodejs/index.js
  lib/plugins/create/templates/tencent-nodejs/package.json
  lib/plugins/create/templates/tencent-nodejs/serverless.yml
  lib/plugins/create/templates/tencent-php/gitignore
  lib/plugins/create/templates/tencent-php/index.php
  lib/plugins/create/templates/tencent-php/package.json
  lib/plugins/create/templates/tencent-php/serverless.yml
  lib/plugins/create/templates/tencent-python/gitignore
  lib/plugins/create/templates/tencent-python/index.py
  lib/plugins/create/templates/tencent-python/package.json
  lib/plugins/create/templates/tencent-python/serverless.yml
Labels: cat/templates, pr/in-review

#6904 Feat: aws-nodejs-typescript template improvements
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.yml
  lib/plugins/create/templates/aws-nodejs-typescript/tsconfig.json
  lib/plugins/create/templates/aws-nodejs-typescript/vscode/launch.json
  lib/plugins/create/templates/aws-nodejs-typescript/webpack.config.js
Labels: cat/templates, enhancement, pr/in-review

#6909 Fix deployment bucket policy handling with custom bucket
  CHANGELOG.md
  lib/plugins/aws/package/lib/generateCoreTemplate.js
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
  package.json
Labels: bug, cat/deployment, pr/in-progress
