Repository serverless/serverless, pull requests merged in 2019-05, with the labels that each got.

#6068 Fix markup error with Authentication value
  lib/plugins/create/templates/openwhisk-python/README.md
Labels: cat/providers, docs, pr/in-review

#6075 Drop duplicate paragraph in aws/guide/credentials
  docs/providers/aws/guide/credentials.md
Labels: cat/providers, docs, pr/in-review

#6079 Improve integration test of aws-scala-sbt
  docker-compose.yml
Labels: cat/templates, enhancement, pr/in-review

#6070 Highlight skipping of deployments
  lib/classes/CLI.js
  lib/classes/CLI.test.js
  lib/plugins/aws/deploy/lib/checkForChanges.js
Labels: cat/dx, enhancement

#6057 Add support for API Gateway REST API Logs
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.test.js
Labels: cat/api-gw, feature, pr/in-review

#6078 Implement logging with Log4j2 for aws-scala-sbt
  lib/plugins/create/templates/aws-scala-sbt/build.sbt
  lib/plugins/create/templates/aws-scala-sbt/project/plugins.sbt
  lib/plugins/create/templates/aws-scala-sbt/src/main/resources/log4j2.xml
  lib/plugins/create/templates/aws-scala-sbt/src/main/scala/hello/Handler.scala
  lib/plugins/create/templates/aws-scala-sbt/src/main/scala/hello/Request.scala
Labels: cat/templates, feature, pr/in-review

#6085 Update serverless.yml.md
  docs/providers/aws/guide/serverless.yml.md
Labels: cat/dx, docs, pr/in-review

#6084 SDK based API Gateway Stage updates
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/README.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/disassociateUsagePlan.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/disassociateUsagePlan.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#6097 Releasing v1.42.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: pr/in-review

#6111 Fix restApiId resolution in post CF deployment phase
  CHANGELOG.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  package-lock.json
  package.json
Labels: bug/confirmed, cat/api-gw, pr/in-review

#6110 Update deploy.md
  docs/providers/aws/cli-reference/deploy.md
Labels: cat/deployment, docs, pr/in-review

#6108 Adding a more specific example of how to package individually
  docs/providers/aws/guide/packaging.md
Labels: cat/packaging, docs, pr/in-review

#6106 Update Azure Functions Template
  docs/providers/azure/guide/quick-start.md
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/azure-nodejs/.funcignore
  lib/plugins/create/templates/azure-nodejs/.vscode/extensions.json
  lib/plugins/create/templates/azure-nodejs/.vscode/launch.json
  lib/plugins/create/templates/azure-nodejs/.vscode/settings.json
  lib/plugins/create/templates/azure-nodejs/.vscode/tasks.json
  lib/plugins/create/templates/azure-nodejs/gitignore
  lib/plugins/create/templates/azure-nodejs/handler.js
  lib/plugins/create/templates/azure-nodejs/hello/function.json
  lib/plugins/create/templates/azure-nodejs/hello/index.js
  lib/plugins/create/templates/azure-nodejs/hello/sample.dat
  lib/plugins/create/templates/azure-nodejs/host.json
  lib/plugins/create/templates/azure-nodejs/local.settings.json
  lib/plugins/create/templates/azure-nodejs/package.json
  lib/plugins/create/templates/azure-nodejs/proxies.json
  lib/plugins/create/templates/azure-nodejs/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6105 Update cloudflare documentation
  docs/providers/cloudflare/guide/intro.md
  docs/providers/cloudflare/guide/quick-start.md
Labels: cat/providers, docs, pr/in-review

#6107 Add a hook for plugins to perform asyncronous initialization.
  lib/Serverless.js
  lib/Serverless.test.js
  lib/classes/PluginManager.js
  lib/classes/PluginManager.test.js
Labels: cat/plugin, feature, pr/in-review

#6095 Remove not used module
  lib/utils/functionInfoUtils.js
Labels: cat/enterprise, cleanup, pr/in-review

#6119 Support color output in tests
  bin/test
  lib/classes/CLI.test.js
  lib/plugins/aws/invokeLocal/index.test.js
  package-lock.json
  package.json
Labels: pr/in-review, tests

#6128 Fix validation after API Gateway deployment
  lib/classes/Service.test.js
  lib/classes/Utils.js
  lib/classes/Utils.test.js
  lib/plugins/aws/lib/getServiceState.js
  lib/plugins/aws/lib/getServiceState.test.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: bug/confirmed, cat/api-gw

#6131 Update very minor typo in apigateway.md
  docs/providers/aws/events/apigateway.md
Labels: cat/api-gw, docs, pr/in-review

#6129 Improve handling of custom API Gateway options
  CHANGELOG.md
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  package-lock.json
  package.json
Labels: bug/confirmed, cat/api-gw

#6138 Update services.md
  docs/providers/aws/guide/services.md
Labels: cat/api-gw, docs, enhancement

#6137 azure: exclude development dependency files when packaging functions
  lib/plugins/create/templates/azure-nodejs/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6113 Update release process docs and toolings
  RELEASE_CHECKLIST.md
  scripts/prs-since-last-tag
Labels: docs, pr/in-review

#6142 Update AWS Node.js runtime to version 10
  docs/providers/aws/cli-reference/print.md
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/events/websocket.md
  docs/providers/aws/examples/hello-world/node/serverless.yml
  docs/providers/aws/guide/credentials.md
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/aws/guide/services.md
  docs/providers/aws/guide/variables.md
  lib/classes/Service.test.js
  lib/classes/Utils.test.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/package/compile/layers/index.test.js
  lib/plugins/create/templates/aws-alexa-typescript/serverless.yml
  lib/plugins/create/templates/aws-clojurescript-gradle/serverless.yml
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/serverless.yml
  lib/plugins/create/templates/aws-nodejs-ecma-script/serverless.yml
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.yml
  lib/plugins/create/templates/aws-nodejs/serverless.yml
  lib/plugins/create/templates/hello-world/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda-proxy/api-keys/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda-proxy/cors/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda-proxy/custom-authorizers/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda-proxy/simple-api/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda/api-keys/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda/cors/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda/custom-authorizers/service/serverless.yml
  tests/integration/aws/api-gateway/integration-lambda/simple-api/service/serverless.yml
  tests/integration/aws/cloud-watch-event/multiple-events-multiple-functions/service/serverless.yml
  tests/integration/aws/cloud-watch-event/multiple-events-single-function/service/serverless.yml
  tests/integration/aws/cloud-watch-event/single-event-multiple-functions/service/serverless.yml
  tests/integration/aws/cloud-watch-event/single-event-single-function/service/serverless.yml
  tests/integration/aws/cognito-user-pool/multiple-pools-multiple-events-multiple-functions/service/serverless.yml
  tests/integration/aws/cognito-user-pool/multiple-pools-single-event-single-function/service/serverless.yml
  tests/integration/aws/cognito-user-pool/single-pool-multiple-events-multiple-functions/service/serverless.yml
  tests/integration/aws/cognito-user-pool/single-pool-single-event-single-function/service/serverless.yml
  tests/integration/aws/general/custom-resources/service/serverless.yml
  tests/integration/aws/general/environment-variables/service/serverless.yml
  tests/integration/aws/general/nested-handlers/service/serverless.yml
  tests/integration/aws/general/overwrite-resources/service/serverless.yml
  tests/integration/aws/general/package/service/serverless.yml
  tests/integration/aws/iot/multiple-rules-multiple-functions/service/serverless.yml
  tests/integration/aws/iot/multiple-rules-single-function/service/serverless.yml
  tests/integration/aws/iot/single-rule-multiple-functions/service/serverless.yml
  tests/integration/aws/iot/single-rule-single-function/service/serverless.yml
  tests/integration/aws/s3/multiple-events-multiple-functions-multiple-buckets/service/serverless.yml
  tests/integration/aws/s3/multiple-events-multiple-functions-single-bucket/service/serverless.yml
  tests/integration/aws/s3/multiple-events-single-function-single-bucket/service/serverless.yml
  tests/integration/aws/s3/single-event-single-function-single-bucket/service/serverless.yml
  tests/integration/aws/schedule/multiple-schedules-multiple-functions/service/serverless.yml
  tests/integration/aws/sns/existing-topic/service/serverless.yml
  tests/integration/aws/sns/multiple-topics-multiple-functions/service/serverless.yml
  tests/integration/aws/sns/multiple-topics-single-function/service/serverless.yml
  tests/integration/aws/sns/single-topic-multiple-functions/service/serverless.yml
  tests/integration/aws/sns/single-topic-single-function/service/serverless.yml
  tests/integration/general/custom-plugins/service/serverless.yml
  tests/integration/general/local-plugins/service/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6147 Fix tests setup issues
  .gitignore
  bin/test
  bin/test-isolated
  lib/classes/Error.test.js
  lib/classes/PluginManager.test.js
  lib/plugins/aws/invoke/index.test.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/lib/getServiceState.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
  lib/plugins/aws/provider/awsProvider.test.js
  lib/plugins/info/info.test.js
  lib/plugins/invoke/invoke.test.js
  lib/plugins/print/print.test.js
  lib/plugins/remove/remove.test.js
  lib/utils/getServerlessConfigFile.test.js
  package-lock.json
  package.json
Labels: pr/in-review, tests

#6143 Support for SFE outputs in config
  lib/classes/Service.js
Labels: cat/enterprise, enhancement, pr/in-review

#6132 Setup Travis Windows support / Remove AppVeyor
  .appveyor.yml
  .travis.yml
  lib/plugins/aws/invoke/index.js
  lib/plugins/aws/invoke/index.test.js
  lib/plugins/aws/invokeLocal/fixture/handler.py
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/lib/getServiceState.test.js
  lib/plugins/aws/lib/validate.js
  lib/plugins/aws/lib/validate.test.js
  lib/plugins/create/create.test.js
Labels: pr/in-review, tests

#6077 Update required Node.js version / Add version check
  .travis.yml
  VERSIONING.md
  package.json
Labels: cat/dx, enhancement, pr/in-review

#6150 Add scopes for cognito type APIGW referenced authorizer
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/authorization.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
Labels: bug, cat/api-gw, pr/in-review

#6121 Do not throw error if authorizer has empty claims
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: bug, cat/event-src, pr/in-review

#6157 Tests: Patch mocha bugs and fix broken async flow cases
  .eslintrc.js
  bin/test
  bin/test-isolated
  lib/classes/CLI.test.js
  lib/classes/PluginManager.test.js
  lib/classes/PromiseTracker.test.js
  lib/classes/Service.test.js
  lib/plugins/aws/configCredentials/awsConfigCredentials.test.js
  lib/plugins/aws/deploy/lib/checkForChanges.test.js
  lib/plugins/aws/deployFunction/index.test.js
  lib/plugins/aws/info/getResourceCount.test.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
  lib/plugins/create/create.test.js
  lib/plugins/install/install.test.js
  lib/plugins/invoke/invoke.test.js
  lib/plugins/package/package.test.js
  lib/plugins/plugin/install/install.test.js
  lib/plugins/plugin/list/list.test.js
  lib/plugins/plugin/search/search.test.js
  lib/plugins/plugin/uninstall/uninstall.test.js
  lib/plugins/slstats/slstats.test.js
  lib/utils/getCommandSuggestion.test.js
  lib/utils/renameService.test.js
  package-lock.json
  package.json
  tests/mocha-reporter.js
Labels: pr/in-review, tests

#6139 Fix tagging API Gateway stage fails if tag contains special characters like space
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#6127 Solve the problem of principal format in China region
  lib/plugins/aws/package/compile/events/apiGateway/lib/permissions.js
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.js
  lib/plugins/aws/package/compile/events/cognitoUserPool/index.js
  lib/plugins/aws/package/compile/events/iot/index.js
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/package/compile/events/schedule/index.js
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/websockets/lib/permissions.js
  lib/plugins/aws/package/compile/events/websockets/lib/permissions.test.js
Labels: cat/providers, enhancement, pr/in-review

#6169 Upgrade mocha, switch from istanbul to nyc, improve tests configuration
  .gitignore
  bin/test
  package-lock.json
  package.json
  scripts/test-isolated.js
  tests/mocha-reporter.js
Labels: pr/in-review, tests

#6074 Built in integration of serverless enterprise
  CHANGELOG.md
  lib/classes/PluginManager.js
  lib/classes/PluginManager.test.js
  lib/plugins/create/templates/aws-alexa-typescript/serverless.yml
  lib/plugins/create/templates/aws-clojure-gradle/serverless.yml
  lib/plugins/create/templates/aws-clojurescript-gradle/serverless.yml
  lib/plugins/create/templates/aws-csharp/serverless.yml
  lib/plugins/create/templates/aws-fsharp/serverless.yml
  lib/plugins/create/templates/aws-go-dep/serverless.yml
  lib/plugins/create/templates/aws-go-mod/serverless.yml
  lib/plugins/create/templates/aws-go/serverless.yml
  lib/plugins/create/templates/aws-groovy-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/serverless.yml
  lib/plugins/create/templates/aws-nodejs-ecma-script/serverless.yml
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.yml
  lib/plugins/create/templates/aws-nodejs/serverless.yml
  lib/plugins/create/templates/aws-provided/serverless.yml
  lib/plugins/create/templates/aws-python/serverless.yml
  lib/plugins/create/templates/aws-python3/serverless.yml
  lib/plugins/create/templates/aws-ruby/serverless.yml
  lib/plugins/create/templates/aws-scala-sbt/serverless.yml
  lib/utils/config/index.js
  package-lock.json
  package.json
Labels: cat/enterprise, feature, pr/in-review

#6136 Add integration tests using `sls package`
  package.json
  tests/packaging-suite/artifact.zip
  tests/packaging-suite/handler.js
  tests/packaging-suite/individually.yml
  tests/packaging-suite/packaging.tests.js
  tests/packaging-suite/serverless.yml
  tests/utils/index.js
Labels: cat/packaging, pr/in-progress, tests

#6187 Tests: Fix mocha config
  lib/plugins/aws/invokeLocal/index.test.js
  package.json
  tests/mocha-reporter.js
Labels: pr/in-review, tests

#6186 Tests: Isolation improvements
  lib/classes/Error.test.js
  lib/classes/PluginManager.test.js
  lib/classes/Utils.test.js
  lib/classes/Variables.test.js
  lib/classes/YamlParser.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/provider/awsProvider.test.js
  lib/plugins/invoke/invoke.test.js
  lib/utils/config/index.js
  lib/utils/getServerlessConfigFile.test.js
  package-lock.json
  package.json
  scripts/test-isolated.js
  tests/mocha-reporter.js
  tests/utils/fs/index.js
Labels: pr/in-review, tests

#6088 Add support for Websocket Logs
  .eslintrc.js
  docs/providers/aws/events/websocket.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/deploy/lib/uploadArtifacts.js
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/websockets/lib/stage.js
  lib/plugins/aws/package/compile/events/websockets/lib/stage.test.js
  lib/plugins/package/lib/zipService.js
  scripts/postinstall.js
Labels: cat/api-gw, feature, pr/in-review
