Repository serverless/serverless, pull requests merged in 2019-04, with the labels that each got.

#5954 #4750 Java invoke local support for handlers that implement RequestStreamHandler
  .gitignore
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/java/pom.xml
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/InvokeBridge.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/InvokeBridgeTest.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestStreamHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/resources/test.json
Labels: pr/in-review

#5994 #5993: Ability to pass args for docker run command during invoke local docker
  docs/providers/aws/cli-reference/invoke-local.md
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/invoke/invoke.js
Labels: pr/in-review

#5997 Add additional Capability when Transform is detected
  lib/plugins/aws/deploy/lib/createStack.js
  lib/plugins/aws/deploy/lib/createStack.test.js
  lib/plugins/aws/lib/updateStack.js
  lib/plugins/aws/lib/updateStack.test.js
Labels: pr/in-review

#5992 #5990: Fix layer download caching during invoke local docker
  lib/plugins/aws/invokeLocal/index.js
Labels: pr/in-review

#5977 #5947: Ensure invoke local docker runs lambda with the dependencies
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
Labels: pr/in-review

#6011 Updating Node.js runtime version
  lib/plugins/create/templates/aws-nodejs-ecma-script/serverless.yml
Labels: cat/templates, enhancement, pr/in-review

#6013 Make it easier on the eyes of serverless newcomers
  lib/plugins/create/templates/aws-nodejs-ecma-script/second.js
  lib/plugins/create/templates/aws-nodejs-typescript/handler.ts
  lib/plugins/create/templates/aws-nodejs/handler.js
Labels: pr/in-review

#6010 Allow specifying a retention policy for lambda layers
  docs/providers/aws/guide/layers.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/layers/index.js
  lib/plugins/aws/package/compile/layers/index.test.js
Labels: cat/deployment, enhancement, pr/in-review

#6018 Update quick-start.md
  docs/providers/azure/guide/quick-start.md
Labels: cat/providers, docs, pr/in-review

#5692 Add AWS x-ray support for API Gateway
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/resources.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/checkForBreakingChanges.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/checkForBreakingChanges.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.test.js
Labels: cat/api-gw, feature, pr/in-review

#5970 Add support for multiple usage plans
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/resources.md
  lib/plugins/aws/info/getApiKeyValues.js
  lib/plugins/aws/info/getApiKeyValues.test.js
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlan.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlan.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.test.js
Labels: cat/dx, feature, pr/in-review

#5988 #5945: Invoke local docker to pass env vars to lambda container
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/invokeLocal/index.test.js
Labels: bug, cat/local-dev, pr/in-review

#6025 Releasing v1.41.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: pr/in-review

#6027 Update cors.md
  docs/providers/spotinst/guide/cors.md
Labels: cat/api-gw, docs, pr/in-review

#5851 Add tags to AWS APIGateway Stage
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/checkForBreakingChanges.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#6040 Remove safeguards when using API Gateway Stage resource settings
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/checkForBreakingChanges.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/checkForBreakingChanges.test.js
Labels: bug, cat/api-gw, pr/in-review

#5982 Enable Setting Amazon API Gateway API Key Value
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/info/display.js
  lib/plugins/aws/info/display.test.js
  lib/plugins/aws/info/getApiKeyValues.js
  lib/plugins/aws/info/getApiKeyValues.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.test.js
Labels: cat/api-gw, feature, pr/in-review

#5956 AWS API Gateway request body validation
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
Labels: cat/api-gw, feature, pr/in-review

#6038 Add more specific sub command error handling.
  lib/classes/PluginManager.js
  lib/classes/PluginManager.test.js
Labels: cat/plugin, enhancement, pr/in-review

#6026 Use region pseudo parameter
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/deployment.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/deployment.test.js
  lib/plugins/aws/package/compile/events/websockets/lib/deployment.js
  lib/plugins/aws/package/compile/events/websockets/lib/deployment.test.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
Labels: cat/providers, enhancement, pr/in-review

#6000 Add authorization scopes support for cognito user pool integration
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/authorization.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
Labels: cat/api-gw, feature, pr/in-review

#6043 Support wildcard in API Gateway cors domains
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.test.js
Labels: cat/api-gw, enhancement, pr/in-review

#5952 Support setting both proxy and ca file for awsprovider AWS config agent
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/aws/provider/awsProvider.test.js
Labels: bug, cat/dx, pr/in-review

#6052 Fix doc
  docs/getting-started.md
Labels: cat/dx, docs, pr/in-review

#6061 Update event.md
  docs/providers/google/events/event.md
Labels: cat/providers, docs, pr/in-review

#6064 Allow Fn::Join in stream event arns
  docs/providers/aws/events/streams.md
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: cat/event-src, enhancement, pr/in-review
