Repository serverless/serverless, pull requests merged in 2020-08, with the labels that each got.

#7335 Config schema validation
  docs/providers/aws/guide/plugins.md
  docs/providers/aws/guide/serverless.yml.md
  lib/Serverless.js
  lib/Serverless.test.js
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/index.test.js
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.js
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.test.js
  lib/classes/ConfigSchemaHandler/resolveDataPathSize.js
  lib/classes/ConfigSchemaHandler/resolveDataPathSize.test.js
  lib/classes/Service.js
  lib/classes/Service.test.js
  lib/configSchema.js
  lib/configSchema.test.js
  lib/plugins/aws/package/compile/events/alb/index.js
  lib/plugins/aws/package/compile/events/alexaSkill/index.js
  lib/plugins/aws/package/compile/events/alexaSmartHome/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.js
  lib/plugins/aws/package/compile/events/cognitoUserPool/index.js
  lib/plugins/aws/package/compile/events/eventBridge/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/iot/index.js
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/package/compile/events/schedule/index.js
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/websockets/index.js
  lib/plugins/aws/provider/awsProvider.js
  package.json
  tests/fixtures/configSchemaExtensions/serverless.yml
  tests/fixtures/configSchemaExtensions/test-plugin.js
Labels: cat/config-schema, cat/dx, feature

#8003 docs: Improve AWS service file documentation
  docs/providers/aws/guide/intro.md
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.ts
Labels: documentation, enhancement

#8069 Add aws-go-mod on available templates
  docs/providers/aws/guide/services.md
Labels: cat/template, documentation

#8051 fix(Config Schema): validate resourcePolicy is array
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-api-gateway, cat/config-schema, enhancement

#8064 Add ES7+ support to aws-nodejs-ecma-script template
  lib/plugins/create/templates/aws-nodejs-ecma-script/package.json
  lib/plugins/create/templates/aws-nodejs-ecma-script/webpack.config.js
Labels: bug, cat/template

#8068 Http api schema validation
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.js
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/provider/awsProvider.js
  package.json
Labels: cat/aws-event-http-api, cat/config-schema, enhancement

#8099 Fix HTTP API schema issues
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-http-api, cat/config-schema

#8101 Config Schema: Report configuration errors as warnings
  lib/classes/ConfigSchemaHandler/index.js
Labels: bug/design, cat/config-schema

#8102 AWS HTTP API: Fix provider.httpApi.id schema
  lib/configSchema.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-http-api, cat/config-schema

#8103 Fix Automatically exclude aws-sdk from Node.js lambda bundles
  lib/plugins/package/lib/packageService.js
Labels: cat/packaging, perf

#8038 Search installation folder for plugins after everything else fails.
  lib/classes/PluginManager.js
Labels: cat/plugin, enhancement

#8105 Cognito schema validation
  lib/plugins/aws/package/compile/events/cognitoUserPool/index.js
  lib/plugins/aws/package/compile/events/cognitoUserPool/index.test.js
Labels: cat/aws-event-cognito, cat/config-schema, enhancement

#8106 fix typo in 'provider' in var name
  lib/plugins/aws/package/compile/events/s3/index.js
Labels: cat/aws-event-s3, refactor

#8127 CI: Upgrade to actions/cache v2
  .github/workflows/integrate.yml
  .github/workflows/publish.yml
  .github/workflows/validate.yml
Labels: cat/ci, refactor

#8129 Test: Ensure tests result do not depend on current version
  tests/fixtures/configSchemaExtensions/serverless.yml
Labels: tests

#8131 Drop support for Node.js versions below v10
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  bin/serverless.js
  package.json
  scripts/serverless.js
Labels: breaking, cat/security

#8042 Support EFS attachment in lambda function configuration
  docs/providers/aws/guide/functions.md
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/provider/awsProvider.js
  tests/integration-all/file-system-config/cloudformation.yml
  tests/integration-all/file-system-config/service/core.js
  tests/integration-all/file-system-config/service/serverless.yml
  tests/integration-all/file-system-config/tests.js
  tests/integration-all/fileSystemConfig/service/serverless.yml
Labels: cat/lambda, enhancement

#8138 chore(aws): remove deprecated support for maximumEventAge & maximumRetryAttempts on destination
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
Labels: breaking, cat/lambda

#8130 Fix packaging with files that contain dots as part of the name
  lib/plugins/package/lib/packageService.js
  lib/plugins/package/lib/packageService.test.js
  package.json
Labels: bug, cat/packaging

#8142 chore: remove deprecated bin/serverless file
  bin/serverless
Labels: breaking, cat/cli

#8133 Switch default payload mode to 2.0
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.test.js
Labels: breaking, cat/aws-event-http-api, enhancement

#8145 Revert "Fix Automatically exclude aws-sdk from Node.js lambda bundles"
  lib/plugins/package/lib/packageService.js
Labels: bug, cat/packaging

#8149 Fix bad indentation in Share Authorizer docs
  docs/providers/aws/events/apigateway.md
Labels: bug, cat/aws-event-api-gateway, documentation

#8152 #8151 Update google-nodejs template
  lib/plugins/create/templates/google-nodejs/serverless.yml
Labels: cat/template, enhancement, provider/google

#8153 Update Google credentials.md documentation
  docs/providers/google/guide/credentials.md
Labels: documentation, provider/google

#8155 Grammatically updated the tech-doc CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation
