Repository serverless/serverless, pull requests merged in 2020-09, with the labels that each got.

#8112 Define SNS event schema validation
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sns/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-sns, cat/config-schema, enhancement

#8156 Add deprecation message for slss alias
  bin/slss.js
  docs/deprecations.md
  package.json
Labels: cat/cli, deprecation

#8159 Issue 7008 default request templates
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
Labels: cat/aws-event-api-gateway, enhancement

#8161 feat(cli): remove slss command alias
  bin/slss.js
  lib/plugins/config/config.test.js
  lib/plugins/interactiveCli/tabCompletion.test.js
  lib/utils/tabCompletion/tabtabOptions.js
  package.json
Labels: breaking, cat/cli

#8160 Remove support for `allowUnauthenticated`
  lib/plugins/aws/package/compile/events/alb/index.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
Labels: breaking, cat/aws-event-alb

#8167 Seclude IAM role resource name resolution logic for reuse
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: refactor

#8168 Rename vscode to .vscode folder in aws-nodejs-typescript template
  lib/plugins/create/templates/aws-nodejs-typescript/.vscode/launch.json
Labels: bug, cat/template

#8169 doc(aws): Update http api external http id documentation
  docs/providers/aws/events/http-api.md
Labels: cat/aws-event-http-api, documentation

#8171 Add CF function to allowed types for httpApi.authorizer.id
  lib/plugins/aws/package/compile/events/httpApi/index.js
Labels: cat/aws-event-http-api, cat/config-schema, enhancement

#8174 Fix Fn:Sub function definition
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8172 AWS HTTP API: Convert "timeout" usage warnings to deprecations
  docs/deprecations.md
  lib/plugins/aws/package/compile/events/httpApi/index.js
Labels: cat/aws-event-http-api, deprecation

#8163 build(dependency): upgrade to boxen@v4.2.0
  package.json
Labels: cat/dependency, cat/security

#8178 Revert from `frameworkVersion` requirement
  docs/deprecations.md
  lib/classes/Service.js
Labels: cat/dx, deprecation

#8177 feat(aws): add iot event schema
  lib/plugins/aws/package/compile/events/iot/index.js
  lib/plugins/aws/package/compile/events/iot/index.test.js
Labels: cat/aws-event-iot, cat/config-schema, enhancement

#8182 Upgrade update-notifier to v4
  package.json
Labels: cat/dependency, cat/security

#8184 AWS HTTP API: Drop support for `timeout` setting
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: breaking, cat/aws-event-http-api, enhancement

#8185 Remove "update-notifier"notifications
  lib/Serverless.js
  package.json
Labels: cat/dependency, cat/dx, enhancement

#8139 feat(aws): schema for `resources` when using AWS provider
  lib/classes/Service.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, enhancement

#8195 Add "deadline_ms" to the local context
  lib/plugins/aws/invokeLocal/fixture/handler.rb
  lib/plugins/aws/invokeLocal/index.test.js
  lib/plugins/aws/invokeLocal/runtimeWrappers/invoke.rb
Labels: bug, cat/template, runtime/ruby

#8196 Fix link to test doc
  CONTRIBUTING.md
Labels: documentation

#8199 Documentation: Invoke local env variable resolution
  docs/providers/aws/cli-reference/invoke-local.md
Labels: cat/local-dev, documentation

#8198 Local invoke AWS CF function resolution for env variable : Ref
  docs/providers/aws/cli-reference/invoke-local.md
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/utils/resolveCfRefValue.js
  lib/plugins/aws/utils/resolveCfRefValue.test.js
Labels: cat/local-dev, enhancement

#8200 Allow use of intrinsic function for http api authorizers
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-http-api, cat/config-schema, enhancement

#8202 AWS Stream: Fix support for `batchWindow: 0`
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: bug, cat/event-aws-stream

#8204 update naming.getModelLogicalId() to remove whitespace in contentType (plugins/aws/lib/naming)
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
Labels: bug, cat/aws-event-api-gateway

#8207 Config Schema: Improve warning logs
  docs/configuration-validation.md
  lib/classes/ConfigSchemaHandler/index.js
Labels: cat/config-schema, documentation, refactor

#8213 Config Schema: Recognize `Condition` on resource configuration
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8215 Fix typo in the word 'maintenance' in changelog
  CHANGELOG.md
Labels: documentation

#8217 feat(Config Schema): Support Condition attribute on resources.extensions
  docs/providers/aws/guide/resources.md
  lib/plugins/aws/package/lib/mergeCustomProviderResources.js
  lib/plugins/aws/package/lib/mergeCustomProviderResources.test.js
Labels: bug

#8224 Knative QuickStart Docs Typo Fix
  docs/providers/knative/guide/quick-start.md
Labels: documentation

#8231 Fix config file resolution memoization
  lib/plugins/interactiveCli/initializeService.js
  lib/utils/getServerlessConfigFile.js
Labels: bug

#8229 fix(Config Schema): Transform should be an array of strings
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8201 Stream schema
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: cat/config-schema, cat/event-aws-stream, enhancement

#8233 Config Schema: Recognize string value at DependsOn
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8234 Upgrade "uuid" to v8
  package.json
Labels: cat/dependency, refactor

#8235 Upgrade "archiver" to v5
  package.json
Labels: cat/dependency, refactor

#8236 Upgrade "chalk" to v4
  package.json
Labels: cat/dependency, refactor

#8237 Upgrade "download" to v8
  package.json
Labels: cat/dependency, refactor

#8239 Upgrade "filesize" to v6
  package.json
Labels: cat/dependency, refactor

#8241 Upgrade "get-stdin" to v8
  package.json
Labels: cat/dependency, refactor

#8242 Upgrade "is-docker" to v2
  package.json
Labels: cat/dependency, refactor

#8230 aws cloudwatchEvent event schema
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.test.js
Labels: cat/aws-event-cloudwatch, cat/config-schema, enhancement

#8243 Upgrade "p-limit" to v3
  package.json
Labels: cat/dependency, refactor

#8238 Switch from "fast-levenshtein" to "fastest-levenshtein"
  lib/utils/getCommandSuggestion.js
  package.json
Labels: cat/dependency, refactor

#8244 Upgrade "semver" to v7
  package.json
Labels: cat/dependency, refactor

#8246 Upgrade "untildify" to v4
  package.json
Labels: cat/dependency, refactor

#8245 Upgrade "semver-regex" to v3
  package.json
Labels: cat/dependency, refactor

#8247 Remove no longer used dependencies
  package.json
Labels: cat/dependency, refactor

#8248 Upgrade "yargs-parser" to v20
  package.json
Labels: cat/dependency, refactor

#8256 Ensure to reference v2 in `frameworkVersion` in docs
  docs/providers/aliyun/guide/services.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/aws/guide/services.md
  docs/providers/azure/guide/function-apps.md
  docs/providers/azure/guide/serverless.yml.md
  docs/providers/cloudflare/guide/services.md
  docs/providers/google/guide/services.md
  docs/providers/knative/guide/services.md
  docs/providers/kubeless/guide/services.md
  docs/providers/openwhisk/guide/serverless.yml.md
  docs/providers/openwhisk/guide/services.md
  docs/providers/tencent/guide/services.md
Labels: bug, documentation

#8258 Workaround config schema error on interactive project initialization
  lib/plugins/interactiveCli/initializeService.js
Labels: bug, cat/cli

#8259 fix(Config Schema): Add enhanced object syntax for plugins
  lib/configSchema.js
Labels: bug, cat/config-schema, cat/plugin

#8266 chore(aws): add deprecation for extending nonexistent resources
  docs/deprecations.md
  lib/plugins/aws/package/lib/mergeCustomProviderResources.js
Labels: bug/design, deprecation

#8218 Websocket event schema
  lib/configSchema.js
  lib/plugins/aws/package/compile/events/websockets/index.js
  lib/plugins/aws/package/compile/events/websockets/lib/validate.js
  lib/plugins/aws/package/compile/events/websockets/lib/validate.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-websocket, cat/config-schema, enhancement

#8272 Config Schema: Treat `null` or `undefined` as lack of value
  lib/classes/ConfigSchemaHandler/index.js
Labels: bug, cat/config-schema

#8268 fix sns event redrive policy's deadlettersqs's sqs policy error
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sns/index.test.js
Labels: bug, cat/aws-event-sns

#8222 Add base definition of properties
  lib/classes/ConfigSchemaHandler/index.js
  lib/configSchema.js
  lib/configSchema.test.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, cat/lambda, enhancement

#8227 aws sqs event schema
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/sqs/index.test.js
Labels: cat/aws-event-sqs, cat/config-schema, enhancement

#8273 Correct Dockerfile layer path invalid on Windows
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#8212 exclude tags and reservedConcurrency from version hash
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
Labels: bug, cat/lambda, cat/packaging

#8228 Aws cloudwatchlog event schema
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.js
  lib/plugins/aws/package/compile/events/cloudWatchLog/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-cloudwatch, cat/config-schema, enhancement

#8250 Aws cloudfront event schema
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: cat/aws-event-cloudfront, cat/config-schema, enhancement

#8274 chore: replace usage of _.values with Object.values
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.js
  lib/classes/PluginManager.js
  lib/plugins/aws/deployFunction/index.js
  lib/plugins/aws/info/display.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/utils/findAndGroupDeployments.js
  lib/utils/analytics/generatePayload.js
Labels: refactor

#8275 chore: replace _.entries, _.entriesIn and _.toPairs with Object.entries
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.js
  lib/classes/PluginManager.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.js
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/package/lib/mergeCustomProviderResources.js
  lib/plugins/package/lib/packageService.js
Labels: cat/dependency, refactor

#8278 Upgrade "@serverless/utils" to v2
  lib/plugins/interactiveCli/index.js
  lib/plugins/interactiveCli/initializeService.js
  lib/plugins/interactiveCli/initializeService.test.js
  lib/plugins/interactiveCli/setupAws.js
  lib/plugins/interactiveCli/setupAws.test.js
  lib/plugins/interactiveCli/tabCompletion.js
  lib/plugins/interactiveCli/tabCompletion.test.js
  lib/plugins/interactiveCli/utils.js
  package.json
Labels: cat/dependency, refactor

#8164 feat(aws): Add support for msk as event trigger
  docs/providers/aws/events/msk.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/package/compile/events/msk/getMskClusterNameToken.js
  lib/plugins/aws/package/compile/events/msk/getMskClusterNameToken.test.js
  lib/plugins/aws/package/compile/events/msk/index.js
  lib/plugins/aws/package/compile/events/msk/index.test.js
  lib/plugins/index.js
  package.json
  scripts/test/integration-setup/cloudformation.yml
  scripts/test/integration-setup/index.js
  scripts/test/integration-setup/kafka.server.properties
  scripts/test/integration-teardown.js
  test/README.md
  test/fixtures/functionMsk/core.js
  test/fixtures/functionMsk/package.json
  test/fixtures/functionMsk/serverless.yml
  test/integration/infra-dependent/msk.test.js
  test/utils/cludformation.js
Labels: cat/aws-event-msk, enhancement

#8066 Fix lambda logical version id for layers in same stack
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  lib/plugins/aws/package/compile/layers/index.js
  lib/plugins/aws/provider/awsProvider.js
  test/fixtures/functionLayers/extra_layers/testLayerSourceChange/index.js
  test/fixtures/functionLayers/index.js
  test/fixtures/functionLayers/serverless.yml
  test/fixtures/functionLayers/testLayer/index.js
Labels: bug, cat/lambda

#8277 Deprecate awsKmsKeyArn for provider and functoin kmsKeyArn
  docs/deprecations.md
  lib/configSchema.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/lambda, deprecation, refactor

#8279 Fix #3184 Compatibility with native AWS CloudFormation variable syntax
  lib/classes/Service.js
  lib/classes/Variables.test.js
  lib/plugins/print/print.test.js
  test/fixtures/variables/config.json
  test/fixtures/variables/serverless.yml
Labels: bug/design, cat/variable

#8255 alexa smart home event schema
  lib/plugins/aws/package/compile/events/alexaSmartHome/index.js
  lib/plugins/aws/package/compile/events/alexaSmartHome/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-alexa, cat/config-schema, enhancement

#8284 chore: replace _.forOwn with Object.entries().forEach
  lib/classes/PluginManager.js
  lib/plugins/aws/utils/findReferences.js
Labels: cat/dependency, refactor

#8283 fix(Config Schema): Expand allowable types for vpc config
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-vpc, cat/config-schema

#8295 AWS ALB: Ensure to treat `provider.alb.authorizers` as optional
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
Labels: bug, cat/aws-event-alb

#8291 Aws alb schema
  lib/plugins/aws/package/compile/events/alb/index.js
  lib/plugins/aws/package/compile/events/alb/index.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.test.js
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/aws/provider/awsProvider.test.js
Labels: cat/aws-event-alb, cat/config-schema, enhancement

#8298 fix(AWS SQS): ensure sqs event depends on provisioned alias if needed
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/sqs/index.test.js
Labels: bug, cat/aws-event-sqs, cat/lambda

#8307 Recognize deployment valid env variables format
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema, cat/local-dev

#8309 feat(AJV): Add Rest api logs definition
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-api-gateway, cat/config-schema, enhancement
