Repository serverless/serverless, pull requests merged in 2020-11, with the labels that each got.

#8456 feat(Packaging): Include log retention in custom resources log groups
  lib/plugins/aws/customResources/index.js
Labels: bug, cat/deployment

#8463 refactor: remove "that = this" pattern
  lib/classes/CLI.test.js
  lib/classes/Service.js
  lib/classes/Utils.js
  lib/plugins/aws/provider/awsProvider.js
Labels: refactor

#8462 Add new method 'defineFunctionProperties' to 'ConfigSchemaHandler'
  docs/providers/aws/guide/plugins.md
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/index.test.js
  lib/configSchema.test.js
  test/fixtures/configSchemaExtensions/serverless.yml
  test/fixtures/configSchemaExtensions/test-plugin.js
Labels: cat/config-schema, enhancement

#8468 Config Schema: Support empty strings at environment variables
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8470 use `--no-cache-dir` flag to `pip` in dockerfiles to save space
  Dockerfile
Labels: cat/template, enhancement, tests

#8466 Deprecate object notation for `service`
  docs/deprecations.md
  lib/classes/Service.js
Labels: deprecation, enhancement

#8476 CLI: Fix handling of command options in help display
  lib/classes/CLI.js
  lib/classes/CLI.test.js
  test/fixtures/plugin/plugin.js
  test/fixtures/plugin/serverless.yml
Labels: bug, cat/cli

#8482 Deprecations: Ensure to inspect configuration after it's fully resolved
  lib/plugins/aws/package/compile/events/alexaSkill/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/functions/index.js
Labels: bug, deprecation

#8471 Add cross plugin event definition
  docs/providers/aws/guide/plugins.md
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/index.test.js
  test/fixtures/configSchemaExtensions/test-plugin.js
  test/fixtures/configSchemaExtensionsError/serverless.yml
  test/fixtures/configSchemaExtensionsError/test-plugin-with-errors.js
Labels: cat/config-schema, enhancement

#8484 Refactoring eventBridge test to run runServerless just once and depends less of core implementation
  lib/plugins/aws/package/compile/events/eventBridge/index.test.js
Labels: cat/aws-event-event-bridge, tests

#8486 Implement defineFunctionEventProperties for event with multiple JSON schema definitions through the use of anyOf keywork
  lib/classes/ConfigSchemaHandler/index.js
  lib/classes/ConfigSchemaHandler/index.test.js
  test/fixtures/configSchemaExtensions/test-plugin.js
  test/fixtures/configSchemaExtensionsError/serverless.yml
  test/fixtures/configSchemaExtensionsError/test-plugin-with-complex-event-without-object-definition.js
  test/fixtures/configSchemaExtensionsError/test-plugin-with-non-existing-event-error.js
Labels: bug, cat/config-schema, cat/plugin

#8495 Squashed docs update guides
  docs/README.md
  docs/guides/README.md
  docs/guides/access-roles.md
  docs/guides/cicd/README.md
  docs/guides/cicd/best-practices.md
  docs/guides/cicd/branch-deployments.md
  docs/guides/cicd/custom-scripts.md
  docs/guides/cicd/faq.md
  docs/guides/cicd/mono-repo.md
  docs/guides/cicd/notifications.md
  docs/guides/cicd/preview-deployments.md
  docs/guides/cicd/private-packages.md
  docs/guides/cicd/running-in-your-own-cicd.md
  docs/guides/cicd/running-tests.md
  docs/guides/cicd/troubleshooting.md
  docs/guides/dashboard.md
  docs/guides/monitoring/README.md
  docs/guides/monitoring/alerts.md
  docs/guides/monitoring/metrics.md
  docs/guides/monitoring/notifications.md
  docs/guides/output-variables.md
  docs/guides/parameters.md
  docs/guides/profiles.md
  docs/guides/providers.md
  docs/guides/safeguards.md
  docs/guides/sdk/README.md
  docs/guides/sdk/nodejs.md
  docs/guides/sdk/python.md
  docs/guides/testing.md
Labels: cat/dashboard, documentation

#8472 Check if provider has 'throttle' instead of 'quota'
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlan.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlan.test.js
Labels: bug, cat/aws-event-api-gateway

#8496 template update: aws-nodejs-typescript - webpack5 updates
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
  lib/plugins/create/templates/aws-nodejs-typescript/webpack.config.js
Labels: cat/template, enhancement

#8501 Fix BC since Webpack5: The devtool option is more strict
  lib/plugins/create/templates/aws-nodejs-typescript/webpack.config.js
Labels: bug, cat/template

#8507 fix: clean command in aws-go-mod template removes go.sum file
  lib/plugins/create/templates/aws-go-mod/Makefile
Labels: cat/template, runtime/go

#8508 Templates: Fix service rename logic
  lib/utils/renameService.js
  lib/utils/renameService.test.js
Labels: bug, cat/template

#8505 fix(packaging): remove devDependencies when npm v7.0 is used
  lib/plugins/package/lib/zipService.js
  lib/plugins/package/lib/zipService.test.js
Labels: bug, cat/packaging

#8527 Tests: Improve organization and prepare for refactor CloudFront tests
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: cat/aws-event-cloudfront, refactor, tests

#8520 Fix broken url in docs
  docs/providers/knative/guide/intro.md
Labels: documentation, provider/knative

#8510 Add detailed metrics to HttpApi
  docs/providers/aws/events/http-api.md
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-http-api, enhancement

#8530 CLI: Ensure to not fallback to Framework on components run error
  bin/serverless.js
Labels: bug, cat/cli

#8506 Add API Gateway resource shorthand syntax for Resource-based policies statements
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#8537 Add service string definition
  lib/classes/Service.js
  lib/configSchema.js
  lib/configSchema.test.js
Labels: bug, cat/config-schema

#8542 fixed bucket policy for https bucket
  lib/plugins/aws/deploy/lib/checkForChanges.test.js
  lib/plugins/aws/package/lib/core-cloudformation-template.json
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
Labels: bug, cat/deployment, cat/security

#8543 Update nodejs-typescript template with new typescript definitions
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.ts
Labels: cat/template, enhancement

#8532 Remove help verbose 8497
  lib/classes/CLI.js
  lib/classes/CLI.test.js
  lib/classes/PluginManager.js
Labels: cat/cli, enhancement

#8533 Refactor some code to native promises
  lib/plugins/aws/common/index.js
  lib/plugins/aws/common/lib/artifacts.js
  lib/plugins/aws/common/lib/cleanupTempDir.js
  lib/plugins/aws/customResources/index.js
  lib/plugins/aws/invoke/index.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/lib/validate.js
  lib/plugins/aws/lib/validate.test.js
  lib/plugins/aws/package/index.js
  lib/plugins/aws/package/lib/generateCoreTemplate.js
  lib/plugins/aws/package/lib/saveCompiledTemplate.js
  lib/plugins/aws/package/lib/saveServiceState.js
  lib/plugins/package/lib/zipService.js
Labels: refactor

#8413 feat(env loader): add basic support for autoloading env variables
  docs/deprecations.md
  docs/environment-variables.md
  docs/providers/aws/guide/serverless.yml.md
  lib/Serverless.js
  lib/Serverless.test.js
  lib/configSchema.js
  lib/loadEnv.js
  lib/loadEnv.test.js
  package.json
Labels: cat/cli, enhancement

#8553 Fix resources JSON-schema by removing invalid additionalProperties property
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8560 Fix broken url in docs
  docs/providers/openwhisk/events/apigateway.md
Labels: documentation, provider/openwhisk

#8555 feat: update Lambda's SQS event batch size and add support to batching window
  docs/providers/aws/events/sqs.md
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/sqs/index.test.js
Labels: cat/aws-event-sqs, enhancement
