Repository serverless/serverless, pull requests merged in 2020-04, with the labels that each got.

#7529 Update docs readme
  docs/README.md
Labels: docs

#7442 Allow use of AWS Web Identify Credentials
  docs/providers/aws/guide/credentials.md
  lib/plugins/aws/lib/validate.js
Labels: bug

#7535 Update Chinese site docs of Serverless Framework
  docs/cn/README.md
  docs/cn/getting-started.md
  docs/cn/providers/README.md
  docs/cn/providers/tencent/README.md
  docs/cn/providers/tencent/cli-reference/README.md
  docs/cn/providers/tencent/cli-reference/create.md
  docs/cn/providers/tencent/cli-reference/deploy-function.md
  docs/cn/providers/tencent/cli-reference/deploy-list.md
  docs/cn/providers/tencent/cli-reference/deploy.md
  docs/cn/providers/tencent/cli-reference/info.md
  docs/cn/providers/tencent/cli-reference/install.md
  docs/cn/providers/tencent/cli-reference/invoke.md
  docs/cn/providers/tencent/cli-reference/logs.md
  docs/cn/providers/tencent/cli-reference/metrics.md
  docs/cn/providers/tencent/cli-reference/remove.md
  docs/cn/providers/tencent/cli-reference/rollback.md
  docs/cn/providers/tencent/components/README.md
  docs/cn/providers/tencent/components/basic-components/README.md
  docs/cn/providers/tencent/components/basic-components/tencent-ssl.md
  docs/cn/providers/tencent/components/basic-components/tencent-vpc.md
  docs/cn/providers/tencent/components/high-level-components/PGSQL-template.md
  docs/cn/providers/tencent/components/high-level-components/README.md
  docs/cn/providers/tencent/components/high-level-components/custom-domain-HTTPS.md
  docs/cn/providers/tencent/components/high-level-components/environment-config.md
  docs/cn/providers/tencent/components/high-level-components/tencent-nuxtjs.md
  docs/cn/providers/tencent/components/high-level-components/tencent-react-full-stack.md
  docs/cn/providers/tencent/components/high-level-components/tencent-rest-api.md
  docs/cn/providers/tencent/components/high-level-components/tencent-thinkphp.md
  docs/cn/providers/tencent/components/high-level-components/tencent-vue-full-stack.md
  docs/cn/providers/tencent/components/quickstart.md
  docs/cn/providers/tencent/events/CMQ.md
  docs/cn/providers/tencent/events/COS.md
  docs/cn/providers/tencent/events/README.md
  docs/cn/providers/tencent/events/apigateway.md
  docs/cn/providers/tencent/events/cloud-kafka.md
  docs/cn/providers/tencent/events/timer.md
Labels: docs

#7546 AWS HTTP API: improve timeout warning messages
  lib/plugins/aws/package/compile/events/httpApi/index.js
Labels: cleanup

#7521 Support China mirror for standalone downloads
  lib/plugins/executable/index.js
  lib/utils/isInChina.js
  lib/utils/isInChina.test.js
  scripts/pkg/install.sh
Labels: enhancement

#7556 Handle gently Components initialization errors
  bin/serverless.js
  lib/classes/CLI.js
  lib/classes/Error.js
  lib/components-v1.js
  lib/components-v2.js
Labels: bug

#7434 fix(AWS HTTP API): set correct api name
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/package/compile/events/httpApi/index.test.js
Labels: bug

#7452 Update Azure Functions Python template
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/azure-python/package.json
  lib/plugins/create/templates/azure-python/serverless.yml
  lib/plugins/create/templates/azure-python/src/handlers/__init__.py
Labels: cat/templates

#7588 fix: support ssh format download template url
  lib/utils/downloadTemplateFromRepo.js
  lib/utils/downloadTemplateFromRepo.test.js
Labels: cat/templates, enhancement

#7526 Added Azure serverless.yml reference
  docs/providers/azure/guide/serverless.yml.md
Labels: docs

#7538 Add support for Ruby 2.7
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/create/templates/aws-ruby/serverless.yml
Labels: enhancement

#7552 fix(AWS Events): I don't know why you did this, but that's not how booleans work
  docs/providers/kubeless/guide/deploying.md
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
Labels: bug, cat/event-aws-stream

#7613 List "jszip" as dev dependency
  package.json
Labels: cleanup

#7612 AWS HTTP API: Fix default log format
  lib/plugins/aws/package/compile/events/httpApi/index.js
Labels: bug, cat/aws-event-http-api

#7607 Tests: Improve Websocket integration test
  tests/integration-all/websocket/tests.js
Labels: cat/test

#7623 feat(AWS HTTP API): configure payload format version
  docs/providers/aws/events/http-api.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.test.js
Labels: cat/aws-event-http-api, enhancement

#7625 Region selection for SSM variables
  docs/providers/aws/guide/variables.md
  lib/classes/Variables.js
  lib/classes/Variables.test.js
Labels: cat/variable, enhancement

#7482 fix: "cors: true" default origin wildcard removed by `generateCorsResponseTemplate`
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.test.js
  tests/integration-all/api-gateway/tests.js
Labels: bug, cat/aws-event-api-gateway

#7562 docs: update go project best practices
  docs/providers/aws/examples/hello-world/go/README.md
Labels: cat/template, docs

#7587 Fix # of resources count displayed in sls info
  lib/plugins/aws/info/getResourceCount.js
  lib/plugins/aws/info/getResourceCount.test.js
Labels: bug, cat/aws-info

#7620 Adding in configurable MaximumRetryAttempts for SQS
  docs/providers/aws/events/sqs.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/sqs/index.test.js
Labels: cat/aws-event-sqs, enhancement

#7638 Fix broken link
  README_CN.md
Labels: docs

#7639 (Docs) Fix multiple typos
  docs/dashboard/cicd/best-practices.md
  docs/dashboard/cicd/preview-deployments.md
  docs/dashboard/cicd/private-packages.md
  docs/dashboard/safeguards/available.md
  docs/providers/aliyun/guide/workflow.md
  docs/providers/aws/events/http-api.md
  docs/providers/aws/events/s3.md
  docs/providers/aws/guide/resources.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/azure/guide/quick-start.md
  docs/providers/azure/guide/variables.md
  docs/providers/knative/cli-reference/install.md
  docs/providers/kubeless/guide/functions.md
  docs/providers/kubeless/guide/workflow.md
  docs/providers/openwhisk/events/apigateway.md
  docs/providers/openwhisk/guide/variables.md
  docs/providers/tencent/events/apigateway.md
Labels: docs

#7576 Pass allowCredentials directive to method and integration response (#7575)
  docs/providers/aws/events/apigateway.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/responses.js
Labels: bug, cat/aws-event-api-gateway
