Repository serverless/serverless, pull requests merged in 2020-10, with the labels that each got.

#8297 feat(AJV): Add missing provider level schema properties
  lib/plugins/aws/deploy/lib/createStack.js
  lib/plugins/aws/lib/updateStack.js
  lib/plugins/aws/lib/validateS3BucketName.js
  lib/plugins/aws/lib/validateS3BucketName.test.js
  lib/plugins/aws/package/lib/generateCoreTemplate.js
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, enhancement

#8320 Config Schema: Recognize boolean format for `provider.logs.restApi`
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#8308 Fix schema validation of CloudFront distribution config
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
Labels: bug, cat/aws-event-cloudfront, cat/config-schema

#8299 layers schema
  docs/providers/aws/guide/plugins.md
  lib/classes/ConfigSchemaHandler/index.js
  lib/configSchema.js
  lib/plugins/aws/package/compile/layers/index.js
  lib/plugins/aws/package/compile/layers/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, cat/lambda, enhancement

#8310 Add version digest as lambda env var
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  test/integrationPackage/cloudformation.tests.js
Labels: bug, cat/lambda

#8323 SNS displayName as optional property when used with topicName
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sns/index.test.js
Labels: bug, cat/aws-event-sns, cat/config-schema

#8331 Config Schema: Fix SNS event schema (allow both `arn` and `topicName` in `sns` event)
  lib/plugins/aws/package/compile/events/sns/index.js
Labels: bug, cat/aws-event-sns, cat/config-schema

#8326 test(AWS SQS): add integration test for sqs with provisioned concurrency
  test/fixtures/provisionedConcurrency/core.js
  test/fixtures/provisionedConcurrency/serverless.yml
  test/integration/provisionedConcurrency.test.js
Labels: cat/lambda, tests

#8332 Revert "Add version digest as lambda env var"
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
  test/integrationPackage/cloudformation.tests.js
Labels: bug, cat/aws-event-cloudfront, cat/lambda

#8314 Fix schema for resource tags.
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8341 Patch 1
  docs/providers/kubeless/guide/functions.md
Labels: documentation, provider/kubeless

#8337 added Fn::Transport to Resources.resources on validation schema
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, enhancement

#8329 aws apiGateway event - make sure http request parameters have boolean value
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
Labels: bug, cat/aws-event-api-gateway

#8349 fix(Config Schema): Fix Fn::Join delimiter length schema
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema

#8219 DX: Throw if missing RoleName in Custom function role
  lib/plugins/aws/deployFunction/index.js
Labels: bug, cat/aws-iam

#8338 added awsRequest for aws-sdk call backoff and retry in customResources
  lib/plugins/aws/customResources/resources/apiGatewayCloudWatchRole/handler.js
  lib/plugins/aws/customResources/resources/cognitoUserPool/lib/permissions.js
  lib/plugins/aws/customResources/resources/cognitoUserPool/lib/userPool.js
  lib/plugins/aws/customResources/resources/eventBridge/lib/eventBridge.js
  lib/plugins/aws/customResources/resources/eventBridge/lib/permissions.js
  lib/plugins/aws/customResources/resources/s3/lib/bucket.js
  lib/plugins/aws/customResources/resources/s3/lib/permissions.js
  lib/plugins/aws/customResources/resources/utils.js
Labels: cat/deployment, enhancement

#8354 Add support for AWS_DEFAULT_PROFILE env variable when resolving profile
  lib/plugins/aws/provider/awsProvider.js
  lib/plugins/aws/provider/awsProvider.test.js
Labels: bug, cat/aws-auth

#8359 docs(aws http api): update information about default payload for httpapi
  docs/providers/aws/events/http-api.md
Labels: bug, cat/aws-event-http-api, documentation

#8360 chore(aws): fix cludformation typo
  scripts/test/integration-setup/index.js
  scripts/test/integration-teardown.js
  test/integration/infra-dependent/fileSystemConfig.test.js
  test/integration/infra-dependent/msk.test.js
  test/utils/awsCleanup.js
  test/utils/cloudformation.js
Labels: refactor, tests

#8301 Aws http event schema
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: cat/aws-event-http-api, cat/config-schema, enhancement

#8366 Config Schema: Bring back non-array supported variants
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-http-api, cat/aws-iam, cat/config-schema

#8374 Ensure to preserve "undefined" values properties when normalizing for schema
  lib/classes/ConfigSchemaHandler/index.js
Labels: bug, cat/config-schema

#8376 Config Schema: Revert invalid "oneOf" based validation
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js
  lib/plugins/aws/package/compile/events/eventBridge/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug/dependency, cat/aws-event-api-gateway, cat/aws-event-cloudwatch, cat/aws-event-event-bridge, cat/config-schema

#8372 Propagating 'IS_LOCAL' env variable to other potential consumers
  lib/plugins/invoke/invoke.js
  lib/plugins/invoke/invoke.test.js
Labels: bug, cat/local-dev

#8351 fix(AWS Deploy): Ensure that we only read/hash local artifact files exactly once when checking for changes.
  lib/plugins/aws/deploy/lib/checkForChanges.js
  lib/plugins/aws/deploy/lib/checkForChanges.test.js
  package.json
  test/fixtures/packageArtifactInServerlessDir/my-own.zip
  test/fixtures/packageArtifactInServerlessDir/package-artifact-plugin.js
  test/fixtures/packageArtifactInServerlessDir/serverless.yml
Labels: bug, cat/packaging

#8388 AWS Deploy: Fix resolution of CloudFormation error
  lib/plugins/aws/lib/monitorStack.js
  lib/plugins/aws/lib/monitorStack.test.js
Labels: bug, cat/deployment

#8380 Generate random uuid for awsRequestId in lambda local invocation
  lib/plugins/aws/invokeLocal/index.js
Labels: cat/local-dev, enhancement

#8384 Fix handling of lambda permissions removal
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/package/compile/events/s3/index.test.js
Labels: bug, cat/aws-event-s3

#8389 Fix API Gateway authorizer schema
  lib/plugins/aws/package/compile/events/apiGateway/index.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#8335 websocket event authorizer now supports name and arn fields together
  lib/plugins/aws/package/compile/events/websockets/index.js
  lib/plugins/aws/package/compile/events/websockets/lib/permissions.js
  lib/plugins/aws/package/compile/events/websockets/lib/validate.js
  lib/plugins/aws/package/compile/events/websockets/lib/validate.test.js
Labels: cat/aws-event-websocket, enhancement

#8385 Remaining eventInvokeConfig properties on functions[] schema
  lib/classes/ConfigSchemaHandler/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/config-schema, cat/lambda, enhancement

#8342 feat(aws stream): provisioned concurrency support for aws stream event
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/stream/index.test.js
  test/fixtures/provisionedConcurrency/core.js
  test/fixtures/provisionedConcurrency/serverless.yml
  test/integration/provisionedConcurrency.test.js
Labels: bug, cat/event-aws-stream, cat/lambda

#8383 Aws provider apigateway schema
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlanKeys.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-api-gateway, cat/config-schema, enhancement

#8399 Confg Schema: Fix `provider.apiKeys` required properties rules
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#8400 Config Schema: Fix "provider.apiKeys" schema
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#8398 Config Schema: Do not mark "layers[].path" as required
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema, cat/lambda

#8405 Config Schema: Fix AWS `stream` event `consumer` schema
  lib/plugins/aws/package/compile/events/alb/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js
  lib/plugins/aws/package/compile/events/httpApi/index.js
  lib/plugins/aws/package/compile/events/msk/index.js
  lib/plugins/aws/package/compile/events/schedule/index.js
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/config-schema, cat/event-aws-stream

#8339 AWS API Gateway: Fix API Gateway naming convention
  docs/deprecations.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/lib/naming.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug/design, cat/aws-event-api-gateway, deprecation

#8408 docs(deprecations) Few fixes
  docs/deprecations.md
Labels: documentation

#8409 fix: renameService now renames package-lock.json if it exists.
  lib/utils/renameService.js
  lib/utils/renameService.test.js
Labels: bug, cat/template

#8410 docs: anatomy typos
  docs/anatomy.md
Labels: documentation

#8412 Cast error code to str to allow later startsWith()
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/deployment

#8414 chore(bluebird): refactor BbPromise.props usage
  lib/utils/getServerlessConfigFile.js
Labels: cat/dependency, refactor

#8381 Cloudfront forwarded values deprecation
  docs/deprecations.md
  docs/providers/aws/events/cloudfront.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/events/cloudFront/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-cloudfront, enhancement

#8418 Fix broken url in docs
  docs/providers/aws/cli-reference/slstats.md
Labels: documentation

#8420 docs: add enable SQS Event Source
  docs/providers/aws/guide/serverless.yml.md
Labels: cat/aws-event-sqs, documentation

#8447 Tests: Fix fixture service config
  lib/plugins/aws/package/lib/generateCoreTemplate.test.js
Labels: tests

#8433 Upgrade warning message trigger for max cloudformation resources to 500
  lib/plugins/aws/info/display.js
  lib/plugins/aws/info/display.test.js
Labels: cat/deployment, enhancement

#8407 Update documentation
  docs/providers/aws/guide/resources.md
Labels: documentation, enhancement

#8450 Config Schema: Fix `provider` validation
  lib/classes/Service.js
Labels: bug, cat/config-schema

#8453 fix(Config Schema): Fix IAM Policy resource reference schema
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-iam, cat/config-schema

#8429 Add missing efs and msk to serverless yml md
  docs/providers/aws/guide/serverless.yml.md
Labels: cat/aws-event-msk, cat/lambda, documentation

#8330 s3 event schema
  lib/classes/ConfigSchemaHandler/index.js
  lib/plugins/aws/package/compile/events/s3/configSchema.js
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/package/compile/events/s3/index.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/aws-event-s3, cat/config-schema, enhancement
