Repository serverless/serverless, pull requests merged in 2020-07, with the labels that each got.

#7882 Replace _.keyBy with array.reduce
  lib/plugins/aws/package/compile/events/s3/index.js
Labels: cat/dependency, refactor

#7881 Replace _.findKey with Object.keys(object).find
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/cloudFront/index.js
  lib/plugins/aws/package/compile/layers/index.test.js
Labels: cat/dependency, refactor

#7903 Deprecate old nodejs versions
  bin/serverless.js
  docs/deprecations.md
Labels: deprecation

#7901 chore: reduce _.some usage
  lib/classes/PluginManager.js
  lib/plugins/aws/deploy/lib/checkForChanges.js
  lib/plugins/aws/deployFunction/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/resources.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/rollback/index.js
Labels: cat/dependency, refactor

#7897 Support AWS API Gateway integration mapping of request headers, querystring and path variables
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/requestParameters.test.js
  tests/fixtures/apiGateway/index.js
  tests/fixtures/apiGateway/serverless.yml
Labels: cat/aws-event-api-gateway, enhancement

#7914 Switch PackageReference to Amazon.Lambda.Serialization.SystemTextJson
  lib/plugins/create/templates/aws-fsharp/aws-fsharp.fsproj
Labels: bug, cat/template, runtime/dotnet

#7918 fix(Templates): azure-nodejs serverless-azure-functions version
  lib/plugins/create/templates/azure-nodejs/package.json
  lib/plugins/create/templates/azure-nodejs/serverless.yml
Labels: cat/template, provider/azure

#7915 Replaced _.has(object, property) with object.property
  lib/classes/CLI.js
  lib/classes/PluginManager.js
  lib/classes/Service.js
  lib/plugins/aws/deploy/lib/extendedValidate.js
  lib/plugins/aws/deployFunction/index.js
  lib/plugins/aws/info/display.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/cors.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/usagePlan.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
  lib/plugins/aws/package/compile/events/cognitoUserPool/index.js
  lib/plugins/aws/package/compile/events/schedule/index.js
  lib/plugins/aws/package/compile/events/sns/index.js
  lib/plugins/aws/package/compile/events/sqs/index.js
  lib/plugins/aws/package/compile/events/stream/index.js
  lib/plugins/aws/package/compile/events/websockets/lib/validate.js
  lib/plugins/aws/package/lib/mergeIamTemplates.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: cat/dependency, refactor

#7919 Added deprecation warning for when aws http api payload version is not set
  docs/deprecations.md
  lib/plugins/aws/package/compile/events/httpApi/index.js
Labels: cat/aws-event-http-api, deprecation

#7905 Allow use of CF ImportValue for httpApi id
  lib/plugins/aws/info/getStackInfo.js
  lib/plugins/aws/info/getStackInfo.test.js
  lib/plugins/aws/utils/resolveCfImportValue.js
  lib/plugins/aws/utils/resolveCfImportValue.test.js
Labels: cat/aws-event-http-api, enhancement

#7934 Improve serverless typescript template
  docs/providers/aws/guide/intro.md
  lib/plugins/create/create.test.js
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.ts
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.yml
  lib/utils/renameService.js
  lib/utils/renameService.test.js
Labels: cat/template, enhancement

#7942 CLI: Communicate access to Components CLI
  lib/classes/CLI.js
  package.json
Labels: bug

#7949 CLI: Ensure `--version` is only top level command option
  lib/classes/CLI.js
  lib/classes/CLI.test.js
Labels: bug, cat/cli

#7956 Add java11 support. Fixed #7254
  lib/plugins/aws/invokeLocal/index.js
Labels: cat/local-dev, enhancement

#7930 Upgrade Java 3rd party libraries used for invokeLocal
  lib/plugins/aws/invokeLocal/java/pom.xml
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/Context.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/LambdaLogger.java
Labels: bug, cat/template, runtime/java

#7955 Set ContextClassLoader for groovy and clojure. Fixed #7954
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/InvokeBridge.java
Labels: bug, cat/template, runtime/java

#7958 Remove unsupported provider.reservedConcurrency option
  docs/providers/aws/guide/serverless.yml.md
Labels: bug, documentation

#7945 docs: Update links to app.serverless.com
  docs/README.md
  docs/dashboard/README.md
  docs/dashboard/access-roles.md
  docs/dashboard/cicd/README.md
  docs/dashboard/cicd/running-in-your-own-cicd.md
  docs/dashboard/monitoring/alerts.md
  docs/dashboard/parameters.md
  docs/dashboard/profiles.md
  docs/dashboard/safeguards/README.md
  docs/dashboard/safeguards/available.md
  docs/getting-started.md
  docs/providers/aws/cli-reference/slstats.md
Labels: cat/dashboard, documentation

#7961 Use dayjs instead of moment in the aws-clojurescript-gradle template to fix an invocation error.
  lib/plugins/create/templates/aws-clojurescript-gradle/scripts/node_repl.clj
  lib/plugins/create/templates/aws-clojurescript-gradle/src/main/clojurescript/serverless/functions.cljs
Labels: bug, cat/template

#7963 Fix AWS missing credentials handling
  lib/plugins/aws/lib/validate.js
  lib/plugins/aws/lib/validate.test.js
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-auth

#7965 Fix file permissions handling when packaging for lambdas
  lib/plugins/package/lib/zipService.js
  lib/plugins/package/lib/zipService.test.js
Labels: bug, cat/lambda

#7968 Improve java invoke-bridge build error handling
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev, runtime/java

#7969 Update Lambda@Edge supported runtimes
  docs/providers/aws/events/cloudfront.md
Labels: cat/aws-event-cloudfront, documentation

#7947 Adds optional health check configuration for AWS alb event
  docs/providers/aws/events/alb.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/alb/lib/healthCheck.test.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.test.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
Labels: cat/aws-event-alb, enhancement

#7972 Upgrade gradle-wrapper and gradle to fix #7370
  lib/plugins/create/templates/aws-clojure-gradle/build.gradle
  lib/plugins/create/templates/aws-clojure-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-clojurescript-gradle/build.gradle
  lib/plugins/create/templates/aws-clojurescript-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-groovy-gradle/build.gradle
  lib/plugins/create/templates/aws-groovy-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-java-gradle/build.gradle
  lib/plugins/create/templates/aws-java-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-java-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-java-gradle/gradlew
  lib/plugins/create/templates/aws-java-gradle/gradlew.bat
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/build.gradle
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/gradlew
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/gradlew.bat
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/build.gradle.kts
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/gradle/wrapper/gradle-wrapper.jar
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/gradle/wrapper/gradle-wrapper.properties
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/gradlew
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/gradlew.bat
Labels: cat/template, enhancement, runtime/java

#7979 fix(aws, monitorStack): better handle DELETE_COMPLETE on stack creation with verbose flag #7635
  lib/plugins/aws/lib/monitorStack.js
  lib/plugins/aws/lib/monitorStack.test.js
Labels: bug, cat/deployment

#7977 fix(aws, apigateway): make StatusCode property compliant with AWS-documented types
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/responses.js
Labels: bug, cat/aws-event-api-gateway

#7986 Add aws-lambda-java-events support to Java invoke-bridge
  lib/plugins/aws/invokeLocal/java/pom.xml
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/InvokeBridge.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/AbstractMapper.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/DefaultEventMapper.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/DefaultMapper.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/HashMapWrapper.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/Mapper.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/MapperFactory.java
  lib/plugins/aws/invokeLocal/java/src/main/java/com/serverless/mapper/S3EventMapper.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/InvokeBridgeInheritanceTest.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/InvokeBridgeTest.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerAPIGatewayProxyRequestEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerAPIGatewayV2HTTPEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerAPIGatewayV2WebSocketEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerApplicationLoadBalancerRequestEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerCloudFrontEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerCloudWatchLogsEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerCodeCommitEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerCognitoEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerConfigEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerDynamodbEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerIoTButtonEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerKinesisEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerKinesisFirehoseEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerLexEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerS3Event.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerSNSEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerSQSEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestHandlerScheduledEvent.java
  lib/plugins/aws/invokeLocal/java/src/test/java/com/serverless/RequestStreamHandler.java
  lib/plugins/aws/invokeLocal/java/src/test/resources/api-gateway-proxy-request-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/api-gateway-v2-http-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/api-gateway-v2-websocket-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/application-load-balancer-request-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/cloud-front-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/cloud-watch-logs-event-decoded.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/cloud-watch-logs-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/code-commit-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/cognito-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/config-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/dynamo-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/iot-button-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/kinesis-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/kinesis-firehose-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/lex-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/s3-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/scheduled-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/sns-event.json
  lib/plugins/aws/invokeLocal/java/src/test/resources/sqs-event.json
Labels: bug, cat/template, runtime/java

#7984 Fix aws-sdk authentication bug workaround
  lib/plugins/aws/provider/awsProvider.js
Labels: bug, cat/aws-auth

#7999 Move java stuff to runtimeWrappers/java to fix #7998.
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/AbstractMapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/DefaultEventMapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/DefaultMapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/HashMapWrapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/Mapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/MapperFactory.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/main/java/com/serverless/mapper/S3EventMapper.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerAPIGatewayProxyRequestEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerAPIGatewayV2HTTPEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerAPIGatewayV2WebSocketEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerApplicationLoadBalancerRequestEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerCloudFrontEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerCloudWatchLogsEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerCodeCommitEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerCognitoEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerConfigEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerDynamodbEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerIoTButtonEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerKinesisEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerKinesisFirehoseEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerLexEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerS3Event.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerSNSEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerSQSEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/java/com/serverless/RequestHandlerScheduledEvent.java
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/api-gateway-proxy-request-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/api-gateway-v2-http-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/api-gateway-v2-websocket-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/application-load-balancer-request-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/cloud-front-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/cloud-watch-logs-event-decoded.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/cloud-watch-logs-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/code-commit-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/cognito-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/config-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/dynamo-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/iot-button-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/kinesis-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/kinesis-firehose-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/lex-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/s3-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/scheduled-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/sns-event.json
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/src/test/resources/sqs-event.json
Labels: bug, cat/template, runtime/java

#8000 Docs safeguards migration
  docs/dashboard/safeguards.md
  docs/dashboard/safeguards/README.md
  docs/dashboard/safeguards/available.md
  docs/dashboard/safeguards/custom.md
Labels: cat/dashboard, documentation

#7987 Add support for `maximumEventAge` and `maximumRetryAttempts` directly on function instead of destinations
  docs/deprecations.md
  docs/providers/aws/guide/functions.md
  lib/plugins/aws/package/compile/functions/index.js
  lib/plugins/aws/package/compile/functions/index.test.js
Labels: cat/lambda, enhancement

#8010 8007 bug kotlin missing log dependency
  lib/plugins/create/templates/aws-kotlin-jvm-gradle-kts/build.gradle.kts
Labels: bug, cat/template, runtime/java

#7995 fix: Failing deploy of lambdas which attach to Event Bridge against "default" stage fails
  lib/plugins/aws/package/compile/events/eventBridge/index.js
  lib/plugins/aws/package/compile/events/eventBridge/index.test.js
  tests/integration-all/event-bridge/service/core.js
  tests/integration-all/event-bridge/service/serverless.yml
  tests/integration-all/event-bridge/tests.js
  tests/utils/eventBridge/index.js
Labels: bug, cat/aws-event-event-bridge

#8004 Fix handling of event bridge events removal
  lib/plugins/aws/package/compile/events/eventBridge/index.js
  lib/plugins/aws/package/compile/events/eventBridge/index.test.js
Labels: bug, cat/aws-event-event-bridge
