Repository serverless/serverless, pull requests merged in 2021-06, with the labels that each got.

#9539 Telemetry: Ensure to gently handle missing data in local fallback
  lib/cli/handle-error.js
Labels: bug, cat/cli, cat/telemetry

#9550 docs: Add details on using a custom policy/role
  docs/guides/providers.md
Labels: cat/dashboard, documentation

#9557 fix(Templates): Allow usage of `google-nodejs-typescript` template
  lib/templates/recommended-list/index.js
Labels: bug, cat/template

#9560 fix(AWS API Gateway): Dont create logGroup if logs disabled
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/stage/index.test.js
Labels: bug, cat/aws-event-api-gateway

#9569 Upgrade dependencies
  package.json
Labels: cat/dependency

#9572 Variables: Improve documentation
  docs/providers/aws/guide/variables.md
Labels: documentation

#9574 fix: Fix `projectDir` pattern in config schema
  lib/configSchema.js
  test/fixtures/programmatic/multiService/file.json
  test/fixtures/programmatic/multiService/serviceA/index.js
  test/fixtures/programmatic/multiService/serviceA/serverless.yml
  test/unit/scripts/serverless.test.js
Labels: bug

#9580 Documentation: Improve deprecations resasoning
  docs/deprecations.md
Labels: documentation

#9587 Telemetry: Optimise error location paths
  lib/utils/telemetry/anonymize-stacktrace-paths.js
  test/unit/lib/utils/telemetry/anonymize-stacktrace-paths.test.js
  test/unit/lib/utils/telemetry/resolve-error-location.test.js
Labels: cat/telemetry, refactor

#9588 Config Schema: Improve error messaging for same type variants
  lib/classes/ConfigSchemaHandler/normalizeAjvErrors.js
  test/unit/lib/classes/ConfigSchemaHandler/normalizeAjvErrors.test.js
Labels: cat/config-schema, enhancement

#9592 fix(AWS Cognito): Correct `logicalIds` based on triggers
  lib/plugins/aws/lib/naming.js
  test/unit/lib/plugins/aws/lib/naming.test.js
Labels: bug, cat/aws-event-cognito

#9551 feat(AWS HTTP API): Support `payload` version per function
  docs/providers/aws/events/http-api.md
  lib/plugins/aws/package/compile/events/httpApi.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/httpApi.test.js
Labels: cat/aws-event-http-api, enhancement

#9600 refactor: NodeJS version not maintained deprecation
  bin/serverless.js
  docs/deprecations.md
Labels: deprecation, enhancement

#9617 feat(AWS S3): Support CF functions for `bucket` event property
  lib/plugins/aws/package/compile/events/s3/index.js
  test/unit/lib/plugins/aws/package/compile/events/s3/index.test.js
Labels: bug, cat/aws-event-s3

#9602 fix(invoke): use processed options
  lib/plugins/invoke.js
Labels: cat/cli, cat/plugin

#9629 Documentation: Improve "ssm" resolution docs
  docs/providers/aws/guide/variables.md
Labels: cat/variable, documentation

#9628 refactor(Telemetry): Recognize `constructs`
  lib/utils/telemetry/generatePayload.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: cat/telemetry, enhancement

#9637 Documentation: Improve `package.patterns` deprecation doc
  docs/deprecations.md
Labels: cat/packaging, documentation

#9605 refactor: Replace `fse.rename` with `fs.promises.rename`
  lib/plugins/standalone.js
  lib/utils/eventuallyUpdate.js
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: refactor

#9639 Config Schema: Improve error message and documentation
  docs/configuration-validation.md
  lib/classes/ConfigSchemaHandler/index.js
Labels: cat/config-schema

#9609 fix(AWS API Gateway): Ensure that `method` depends on `permission`
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
Labels: bug, cat/aws-event-api-gateway

#9616 fix: prevent crash when packaging in parallel
  lib/plugins/aws/customResources/generateZip.js
  lib/utils/fs/safeMoveFile.js
  test/unit/lib/plugins/aws/customResources/generateZip.test.js
  test/unit/lib/utils/fs/safeMoveFile.test.js
Labels: bug, cat/deployment

#9648 CLI: Fix standalone detection on Windows
  lib/utils/isStandaloneExecutable.js
Labels: bug, cat/cli, cat/standalone

#9536 feat(CLI Onboarding): Add deploy step
  lib/cli/interactive-setup/aws-credentials.js
  lib/cli/interactive-setup/deploy-progress-plugin.js
  lib/cli/interactive-setup/deploy.js
  lib/cli/interactive-setup/index.js
  lib/cli/interactive-setup/service.js
  lib/cli/interactive-setup/utils.js
  package.json
  test/unit/lib/cli/interactive-setup/aws-credentials.test.js
  test/unit/lib/cli/interactive-setup/deploy.test.js
  test/unit/lib/cli/interactive-setup/index.test.js
  test/unit/lib/cli/interactive-setup/utils.test.js
Labels: cat/cli-onboarding, enhancement

#9650 Documentation: Fix `provider.cloudFront.cachePolicies` listing
  docs/providers/aws/guide/serverless.yml.md
Labels: cat/aws-event-cloudfront, documentation

#9647 refactor: Replace `fse.chmod` with `fs.promises.chmod`
  lib/plugins/standalone.js
  lib/utils/eventuallyUpdate.js
Labels: documentation

#9646 fix(Templates): Use `amd64` arch for `aws-go` template
  lib/plugins/create/templates/aws-go-dep/Makefile
  lib/plugins/create/templates/aws-go-mod/Makefile
  lib/plugins/create/templates/aws-go/Makefile
Labels: bug, cat/template

#9653 feat(AWS Lambda): Support `Fn::FindInMap` for `vpc` config
  lib/plugins/aws/provider.js
Labels: cat/aws-vpc, enhancement

#9654 refactor(CLI Onboarding): Adjustments to `deploy` step output
  lib/cli/interactive-setup/deploy-progress-plugin.js
  package.json
Labels: cat/cli-onboarding, refactor

#9364 refactor(AWS Deploy): Deprecate `function` option in `deploy` command
  docs/deprecations.md
  lib/cli/commands-schema/aws-service.js
  lib/plugins/deploy.js
Labels: cat/deployment, deprecation

#9659 Only call `handleError` if `interactiveOutputPlugin` plugin defined
  lib/cli/interactive-setup/deploy.js
Labels: bug, cat/cli-onboarding

#9656 Test: Integration tests for popular plugins
  test/fixtures/programmatic/curated-plugins/_setup.js
  test/fixtures/programmatic/curated-plugins/index.js
  test/fixtures/programmatic/curated-plugins/package.json
  test/fixtures/programmatic/curated-plugins/serverless.yml
  test/integration/curated-plugins.test.js
Labels: cat/plugin, tests

#9660 fix(CLI Onboarding): Do not attempt local fallback during onboarding
  lib/cli/interactive-setup/deploy.js
Labels: bug, cat/cli-onboarding

#9664 feat(AWS Lambda): Support `Fn::If` for `Principal.AWS`
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
Labels: cat/lambda, enhancement

#9667 AWS Local Invocation: Fix error handling of invalid file content
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#9668 AWS Deploy: Report meaningfully inaccessible file artifacts
  lib/plugins/aws/deploy/lib/uploadArtifacts.js
Labels: bug, cat/deployment

#9662 Add support for `aws:region` and `aws:accountId` variables
  docs/providers/aws/guide/variables.md
  lib/Serverless.js
  lib/configuration/variables/sources/instance-dependent/get-aws.js
  scripts/serverless.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-aws.test.js
Labels: cat/variable, enhancement

#9665 ci: Add `node16` to testing matrix
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
Labels: cat/ci, enhancement

#9670 fix(Templates): Adjust `runtime` for `openwhisk-python` template
  lib/plugins/create/templates/openwhisk-python/serverless.yml
Labels: bug, cat/template

#9671 refactor(Telemetry): Include `commandUsage` in case of error
  lib/cli/handle-error.js
  lib/cli/interactive-setup/index.js
  lib/utils/tokenize-exception.js
  test/unit/lib/cli/interactive-setup/index.test.js
  test/unit/lib/utils/tokenize-exception.test.js
Labels: cat/telemetry, enhancement
