Repository serverless/serverless, pull requests merged in 2021-08, with the labels that each got.

#9683 refactor: Use `async` in `lib/plugins/create`
  lib/plugins/create/create.js
  test/unit/lib/plugins/create/create.test.js
Labels: refactor

#9798 fix(Plugins): Improve error message when a plugin is missing
  lib/classes/PluginManager.js
Labels: cat/plugin, enhancement

#9793 fix(AWS API Gateway): Ensure to attach validator when required
  lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.js
  test/fixtures/programmatic/requestParameters/serverless.yml
  test/fixtures/programmatic/requestParameters/target.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/index.test.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.test.js
Labels: bug, cat/aws-event-api-gateway

#9806 fix(AWS API Gateway): Ensure `MinimumCompressionSize` can be 0
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
Labels: bug, cat/aws-event-api-gateway

#9808 docs: Fix typo in `event-bridge.md` docs
  docs/providers/aws/events/event-bridge.md
Labels: documentation

#9809 refactor: Use `async` in `lib/utils`
  lib/utils/createFromTemplate.js
  lib/utils/downloadTemplateFromRepo.js
  lib/utils/fs/createZipFile.js
  lib/utils/fs/dirExists.js
  lib/utils/fs/fileExists.js
  lib/utils/fs/readFile.js
  lib/utils/fs/writeFile.js
  lib/utils/getCacheFile.js
  lib/utils/log/muteConsoleLog.js
  lib/utils/open.js
  lib/utils/yamlAstParser.js
Labels: refactor

#9807 refactor(CLI): Change formatting of notifications
  lib/utils/processBackendNotificationRequest.js
Labels: refactor

#9816 refactor(AWS API Gateway): Deprecate default `identitySource`
  docs/deprecations.md
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/authorizers.test.js
Labels: cat/aws-event-api-gateway, deprecation

#9811 refactor(CLI): Deprecate `-v` as alias for `--verbose`
  docs/deprecations.md
  lib/Serverless.js
  scripts/serverless.js
Labels: refactor, cat/cli

#9824 test(AWS API Gateway): Fix integration test for API Gateway
  test/fixtures/programmatic/apiGatewayExtended/serverless.yml
Labels: tests

#9825 refactor(AWS API Gateway): Adjust deprecation for `identitySource`
  docs/deprecations.md
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  test/fixtures/programmatic/apiGatewayExtended/serverless.yml
Labels: bug, cat/aws-event-api-gateway, deprecation

#9826 fix(AWS Layers): Support references to external layers
  commitlint.config.js
  lib/plugins/aws/package/compile/functions.js
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: bug, cat/layers

#9760 feat(AWS Lambda): Add support for multiple subscription filters
  lib/plugins/aws/deploy/lib/checkForChanges.js
  lib/plugins/aws/package/compile/events/cloudWatchLog.js
  test/unit/lib/plugins/aws/deploy/lib/checkForChanges.test.js
  test/unit/lib/plugins/aws/package/compile/events/cloudWatchLog.test.js
Labels: enhancement, cat/aws-event-cloudwatch

#9833 Ensure right deprecation code for `deploy -f` deprecation
  lib/plugins/deploy.js
Labels: bug, cat/deployment

#9838 docs: Add `generate-event` CLI command description
  docs/providers/aws/cli-reference/generate-event.md
  docs/providers/aws/cli-reference/print.md
  docs/providers/aws/cli-reference/slstats.md
Labels: documentation

#9835 refactor(CLI Onboarding): Adjust summary messages in deploy step
  lib/cli/interactive-setup/deploy.js
  lib/cli/interactive-setup/index.js
  test/unit/lib/cli/interactive-setup/deploy.test.js
Labels: cat/cli-onboarding

#9845 refactor: Replace `fse.stat` with `fs.promises.stat`
  lib/cli/resolve-configuration-path.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/provider.js
  lib/utils/create-from-local-template.js
  lib/utils/ensureExists.js
  lib/utils/fs/dirExists.js
  lib/utils/fs/fileExists.js
  lib/utils/npm-command-deferred.js
  lib/utils/npmPackage/isWritable.js
  scripts/pkg/upload/world.js
  test/unit/lib/plugins/aws/configCredentials.test.js
Labels: refactor

#9850 fix(AWS HTTP API): Properly handle authorizer function with alias
  lib/plugins/aws/package/compile/events/httpApi.js
  test/unit/lib/plugins/aws/package/compile/events/httpApi.test.js
Labels: bug, cat/aws-event-http-api

#9854 feat(AWS Lambda): Recognize `python3.9` as valid runtime
  lib/plugins/aws/provider.js
Labels: enhancement, cat/lambda

#9851 refactor(Telemetry): Recognize `notificationsMode`
  lib/utils/telemetry/generatePayload.js
  package.json
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: refactor, cat/telemetry

#9758 feat(AWS HTTP API): Support `shouldStartNameWithService` option
  docs/providers/aws/events/http-api.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/lib/naming.test.js
Labels: enhancement, cat/aws-event-http-api

#9859 docs: Fix typos in docs
  docs/cn/providers/tencent/components/README.md
  docs/cn/providers/tencent/components/high-level-components/README.md
  docs/cn/providers/tencent/components/high-level-components/custom-domain-HTTPS.md
  docs/deprecations.md
  docs/guides/profiles.md
  docs/providers/spotinst/guide/intro.md
  docs/providers/tencent/events/COS.md
Labels: documentation

#9863 fix(AWS HTTP API): Always allow to define catch-all route (#9840)
  lib/plugins/aws/package/compile/events/httpApi.js
  test/unit/lib/plugins/aws/package/compile/events/httpApi.test.js
Labels: bug, cat/aws-event-http-api

#9865 feat(AWS EventBridge): Support disabling a rule
  docs/providers/aws/events/event-bridge.md
  lib/plugins/aws/customResources/resources/eventBridge/handler.js
  lib/plugins/aws/customResources/resources/eventBridge/lib/eventBridge.js
  lib/plugins/aws/package/compile/events/eventBridge/index.js
  test/unit/lib/plugins/aws/package/compile/events/eventBridge/index.test.js
Labels: enhancement, cat/aws-event-event-bridge

#9872 test: Ensure proper `aws-sdk` patch in `provider` tests
  test/unit/lib/plugins/aws/provider.test.js
Labels: tests

#9874 fix(CLI): Mark `dashboard` command with optional service dependency
  lib/cli/commands-schema/no-service.js
Labels: bug, cat/cli

#9866 Refactor the codebase for hash-based artifacts versioning changes
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/deploy/lib/cleanupS3Bucket.js
  lib/plugins/aws/deploy/lib/uploadArtifacts.js
  lib/plugins/aws/package/index.js
  lib/plugins/aws/rollback.js
  package.json
  test/unit/lib/plugins/aws/rollback.test.js
Labels: refactor, cat/deployment

#9839 feat(AWS Lambda): Prevent external subscription filter removal
  lib/plugins/aws/deploy/lib/checkForChanges.js
  test/unit/lib/plugins/aws/deploy/lib/checkForChanges.test.js
Labels: bug, cat/aws-event-cloudwatch

#9877 feat(CLI Onboarding): Improve onboarding messaging
  lib/cli/interactive-setup/dashboard-login.js
  lib/cli/interactive-setup/dashboard-set-org.js
  test/unit/lib/cli/interactive-setup/dashboard-login.test.js
Labels: enhancement, cat/cli-onboarding

#9869 chore: Refactor `provider.role` tests
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: refactor, tests

#9878 docs: Update `cloudfront.md`
  docs/providers/aws/events/cloudfront.md
Labels: documentation

#9879 feat(AWS Local Invocation): Support `python3.9` runtime
  lib/plugins/aws/invokeLocal/index.js
Labels: enhancement, cat/local-dev

#9882 Documentation: Ensure to represent default as assigned value
  docs/providers/aws/guide/serverless.yml.md
Labels: documentation

#9870 refactor: Replace `fse.writeFile` with `fs.promises.writeFile`
  lib/plugins/aws/invokeLocal/index.js
  lib/utils/fs/writeFile.js
  test/unit/lib/Serverless.test.js
  test/unit/lib/cli/conditionally-load-dotenv.test.js
  test/unit/lib/cli/load-dotenv.test.js
  test/unit/lib/configuration/read.test.js
  test/unit/lib/configuration/variables/index.test.js
  test/unit/lib/plugins/aws/package/lib/getHashForFilePath.test.js
  test/unit/lib/utils/ensureExists.test.js
  test/unit/lib/utils/fs/safeMoveFile.test.js
  test/unit/lib/utils/getEnsureArtifact.test.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
  test/unit/scripts/serverless.test.js
Labels: refactor

#9894 Address shortcomings in AWS API Gateway validation schema
  lib/plugins/aws/package/compile/events/apiGateway/index.js
Labels: bug, cat/aws-event-api-gateway

#9896 CLI: Enable `env` variables in `provider.stage` property
  lib/configuration/variables/sources/env.js
  scripts/serverless.js
  test/unit/scripts/serverless.test.js
Labels: enhancement, cat/cli

#9901 Upgrade `filesize` to v8
  package.json
  test/unit/lib/plugins/aws/deploy/lib/uploadArtifacts.test.js
  test/unit/lib/plugins/aws/deployFunction.test.js
Labels: refactor, cat/dependency

#9847 refactor(Templates): Remove unnecessary `fmt.Sprintf` in `tencent-go`
  lib/plugins/create/templates/tencent-go/index.go
Labels: cat/template
