Repository serverless/serverless, pull requests merged in 2021-05, with the labels that each got.

#9407 fix(AWS HTTP API): Ensure to apply tags to stage
  docs/providers/aws/events/http-api.md
  lib/plugins/aws/package/compile/events/httpApi.js
  test/unit/lib/plugins/aws/package/compile/events/httpApi.test.js
Labels: cat/aws-event-http-api, enhancement

#9418 fix(Telemetry): Properly resolve location when for only relative paths
  lib/utils/telemetry/anonymize-stacktrace-paths.js
  test/unit/lib/utils/telemetry/anonymize-stacktrace-paths.test.js
Labels: bug, cat/telemetry

#9419 fix(Telemetry): Handle error locations not enclosed in parens
  lib/utils/telemetry/resolve-error-location.js
  test/unit/lib/utils/telemetry/resolve-error-location.test.js
Labels: bug, cat/telemetry

#9421 docs(Variables): Improve CLI options docs
  docs/providers/aws/guide/variables.md
Labels: documentation, enhancement

#9422 docs(AWS ALB): Fixed typo in docs
  docs/providers/aws/events/alb.md
Labels: documentation

#9427 fix(Telemetry): Do not report invalid commands
  lib/cli/handle-error.js
  test/unit/lib/cli/handle-error.test.js
Labels: bug, cat/telemetry

#9379 feat(AWS Lambda): Add `ecr.scanOnPush` configuration option
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/provider.test.js
Labels: cat/lambda-image, enhancement

#9437 CLI: Do not validate command when falling back to old version
  scripts/serverless.js
Labels: bug, cat/cli

#9404 feat(AWS API Gateway): Support disabling default endpoint
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/events/http-api.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/restApi.test.js
Labels: cat/aws-event-api-gateway, enhancement

#9411 fix(Packaging): Fix support of the artifact S3 uri with region
  lib/plugins/aws/utils/parse-s3-uri.js
  test/unit/lib/plugins/aws/utils/parse-s3-uri.test.js
Labels: bug, cat/deployment

#9416 feat(AWS Lambda): Deprecate `nodejs12.x` as default runtime
  docs/deprecations.md
  lib/plugins/aws/package/compile/functions.js
  test/unit/lib/plugins/aws/invokeLocal/index.test.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: cat/lambda, deprecation

#9449 CLI: Ensure to report only unrecognized sources as unrecognized
  scripts/serverless.js
Labels: bug, cat/cli, cat/variable

#9447 fix(Telemetry): Ensure telemetry only matches js stacktrace paths
  lib/utils/telemetry/resolve-error-location.js
  test/unit/lib/utils/telemetry/resolve-error-location.test.js
Labels: bug, cat/telemetry

#9455 fix(AWS API Gateway): Support `Fn::Split` for `vpcEndpointIds` schema
  lib/plugins/aws/provider.js
Labels: bug, cat/aws-event-api-gateway

#9463 fix(CLI): Correctly resolve version during local fallback
  lib/cli/render-version.js
Labels: bug, cat/cli

#9445 feat(Templates): Add `google-nodejs-typescript` template
  docs/providers/google/cli-reference/create.md
  lib/plugins/create/templates/google-nodejs-typescript/.gitignore
  lib/plugins/create/templates/google-nodejs-typescript/.nvmrc
  lib/plugins/create/templates/google-nodejs-typescript/README.md
  lib/plugins/create/templates/google-nodejs-typescript/index.ts
  lib/plugins/create/templates/google-nodejs-typescript/package.json
  lib/plugins/create/templates/google-nodejs-typescript/serverless.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/functions/config.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/functions/eventHello/config.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/functions/eventHello/handler.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/functions/httpHello/config.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/functions/httpHello/handler.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/libs/errorHandler.ts
  lib/plugins/create/templates/google-nodejs-typescript/src/libs/logs.ts
  lib/plugins/create/templates/google-nodejs-typescript/tsconfig.json
  lib/plugins/create/templates/google-nodejs-typescript/tsconfig.paths.json
  lib/plugins/create/templates/google-nodejs-typescript/webpack.config.js
Labels: cat/template, enhancement

#9482 Variables: Fix reporting of variable resolution errors
  lib/configuration/variables/sources/file.js
  test/unit/lib/configuration/variables/sources/file.test.js
  test/unit/lib/configuration/variables/sources/fixture/file-function-variable-missing-source.js
  test/unit/lib/configuration/variables/sources/fixture/file-property-function-variable-missing-source.js
Labels: bug, cat/variable

#9481 refactor(CLI Onboarding): Introduce `context.history`
  lib/cli/interactive-setup/index.js
Labels: cat/cli-onboarding, enhancement

#9477 test: Refactor `aws/invoke.test.js` unit tests
  test/unit/lib/plugins/aws/invoke.test.js
Labels: refactor, tests

#9490 test: Adjust interactive CLI test after plugin changes
  package.json
  test/unit/lib/cli/interactive-setup/index.test.js
Labels: cat/cli-onboarding, tests

#9489 fix(AWS API Gateway): Fix schema for `apiKeys` and `permissionsBoundary`
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.test.js
  test/unit/lib/plugins/aws/package/lib/mergeIamTemplates.test.js
Labels: bug, cat/aws-event-api-gateway, cat/config-schema

#9495 feat(CLI Onboarding): Support `template` and `template-url` options
  lib/cli/commands-schema/no-service.js
  lib/cli/interactive-setup/service.js
  test/unit/lib/cli/interactive-setup/service.test.js
Labels: cat/cli-onboarding, enhancement

#9501 Telemetry: Report resource types as configured explicitly by user
  lib/utils/telemetry/generatePayload.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: cat/telemetry, enhancement

#9503 Present default project name if possible
  lib/cli/interactive-setup/service.js
  test/unit/lib/cli/interactive-setup/service.test.js
Labels: cat/cli-onboarding, enhancement

#9504 Dont depend on default execution role when custom role provided with `!Sub`
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/sqs.test.js
Labels: bug, cat/aws-iam

#9507 Local invocation: Fix invalid result handling
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#9510 refactor(Telemetry): Improve AWS stack error codes
  lib/plugins/aws/lib/monitorStack.js
Labels: cat/deployment, cat/telemetry

#9513 Use `download` from `@serverless/utils`
  lib/plugins/aws/invokeLocal/index.js
  lib/utils/downloadTemplateFromRepo.js
  package.json
  test/unit/lib/utils/downloadTemplateFromRepo.test.js
Labels: refactor

#9514 Use "Starter" not "Empty" for templates in interactive CLI
  lib/cli/interactive-setup/service.js
Labels: cat/cli-onboarding, refactor

#9518 Ensure proper resolution in case of errors for AWS-related variables
  lib/configuration/variables/sources/instance-dependent/get-cf.js
  lib/configuration/variables/sources/instance-dependent/get-s3.js
  lib/configuration/variables/sources/instance-dependent/get-ssm.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-cf.test.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-s3.test.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-ssm.test.js
Labels: bug, cat/variable

#9519 Ensure to pass proper config for local fallback during error reporting
  lib/cli/handle-error.js
Labels: bug, cat/telemetry

#9524 Remove initial `confirm` question from the flow
  lib/cli/interactive-setup/service.js
  package.json
  test/unit/lib/cli/interactive-setup/service.test.js
Labels: cat/cli-onboarding, enhancement

#9532 Improve `autoupdate` and `tabcompletion` command docs
  docs/providers/aws/cli-reference/config-tabcompletion.md
  docs/providers/aws/cli-reference/config.md
Labels: cat/cli-onboarding, documentation

#9531 feat(CLI Onboarding): Remove `tab-completion` from interactive flow
  lib/cli/interactive-setup/index.js
  lib/cli/interactive-setup/tab-completion.js
  test/unit/lib/cli/interactive-setup/index.test.js
  test/unit/lib/cli/interactive-setup/tab-completion.test.js
Labels: cat/cli-onboarding, enhancement
