Repository serverless/serverless, pull requests merged in 2021-04, with the labels that each got.

#9214 test: Refactor test for `getStage` for `aws` provider
  test/unit/lib/plugins/aws/provider.test.js
Labels: tests

#9220 Documentation: Add note on support of AWS CF specific variables
  docs/providers/aws/guide/variables.md
Labels: cat/variable, documentation

#9227 docs: specify correct deprecation code for new `patterns` pattern
  docs/deprecations.md
Labels: cat/packaging, documentation

#9229 Variables: Support resolving "raw" JSON string form of SSM params
  docs/providers/aws/guide/variables.md
  lib/configuration/variables/sources/instance-dependent/get-ssm.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-ssm.test.js
Labels: bug, cat/variable

#9231 Packaging: Recognize `layers[].package.patterns`
  lib/plugins/aws/provider.js
Labels: bug, cat/packaging

#9233 Packaging: Ensure to apply dev dependency exclusion rules
  lib/plugins/package/lib/packageService.js
  lib/plugins/package/lib/zipService.js
Labels: bug, cat/packaging

#9232 Refactor: Remove not justified "eslint-disable" comments
  lib/classes/CLI.js
  lib/classes/Error.js
  lib/classes/Utils.js
  lib/classes/Variables.js
  lib/cli/commands-schema/aws-service.js
  lib/plugins/aws/invoke.js
  lib/plugins/aws/invokeLocal/index.js
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/stage.js
  lib/plugins/aws/package/compile/events/cloudWatchEvent.js
  lib/plugins/aws/package/compile/events/schedule.js
  lib/plugins/aws/provider.js
  lib/plugins/create/templates/aws-nodejs-ecma-script/first.js
  lib/plugins/create/templates/aws-nodejs-ecma-script/second.js
  lib/plugins/create/templates/aws-nodejs-ecma-script/webpack.config.js
  lib/plugins/package/lib/zipService.js
  lib/utils/log/log.js
  test/fixtures/cognitoUserPool/core.js
  test/fixtures/eventBridge/core.js
  test/integrationBasic.test.js
  test/unit/lib/classes/Error.test.js
  test/unit/lib/classes/PluginManager.test.js
  test/unit/lib/classes/Variables.test.js
  test/unit/lib/plugins/aws/deploy/lib/checkForChanges.test.js
  test/unit/lib/plugins/aws/deploy/lib/uploadArtifacts.test.js
  test/unit/lib/plugins/aws/deployFunction.test.js
  test/unit/lib/plugins/aws/invokeLocal/index.test.js
  test/unit/lib/plugins/aws/package/compile/events/cloudWatchLog.test.js
  test/unit/lib/plugins/aws/provider.test.js
  test/unit/lib/plugins/aws/utils/formatLambdaLogEvent.test.js
  test/unit/lib/plugins/create/create.test.js
  test/unit/lib/plugins/install.test.js
Labels: refactor

#9234 AWS CloudFront: Recognize "?" character in `pathPattern` property
  lib/plugins/aws/package/compile/events/cloudFront.js
Labels: bug, cat/aws-event-cloudfront

#9236 Variables: Ensure valid region value type in SSM resolution
  lib/configuration/variables/sources/instance-dependent/get-ssm.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-ssm.test.js
Labels: bug, cat/variable

#9248 fix(AWS Deploy): Correctly identify "no updates" error during deploy
  lib/plugins/aws/lib/updateStack.js
  test/unit/lib/plugins/aws/lib/updateStack.test.js
Labels: bug, cat/deployment

#9198 feat(AWS Lambda): Add support for `buildArgs` to `images`
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/provider.test.js
Labels: cat/lambda-image, enhancement

#9216 feat: Account for functions with containers for analytics
  lib/utils/analytics/generatePayload.js
  test/unit/lib/utils/analytics/generatePayload.test.js
Labels: cat/analytics, enhancement

#9254 Avoid re-registration of ts-node ~and interop default when config is exported using ES6 module syntax~
  lib/configuration/read.js
  test/unit/lib/configuration/read.test.js
Labels: cat/cli, enhancement

#9251 feat(AWS Lambda): Add support for `cacheFrom` to `images`
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/provider.test.js
Labels: cat/lambda-image, enhancement

#8959 docs: Removed reference to `dashboard.serverless.com`
  README.md
Labels: documentation

#9265 fix(AWS API Gateway): Do not attempt to remove `aws:` tags during update
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: bug, cat/aws-event-api-gateway

#9274 fix(AWS Local Invocation): Adjust `.gitignore` #9273.
  lib/plugins/aws/invokeLocal/.gitignore
Labels: bug, cat/local-dev

#9277 fix(AWS API Gateway): Proper stage resolution for custom resource
  lib/plugins/aws/customResources/index.js
  test/unit/lib/plugins/aws/customResources/index.test.js
Labels: bug, cat/aws-event-api-gateway

#9275 fix(AWS HTTP API): Adjust schema for correct `typescript` generation
  lib/plugins/aws/package/compile/events/httpApi.js
  lib/plugins/aws/provider.js
Labels: bug, cat/aws-event-http-api

#9263 fix(AWS Local Invocation): Strip `null` envvars for local invoke
  lib/plugins/aws/invokeLocal/index.js
  test/unit/lib/plugins/aws/invokeLocal/index.test.js
Labels: bug, cat/local-dev

#9259 fix(AWS Local Invocation): Correctly `decompress` artifact
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#9270 test: Refactor test for `getCredentials` for `aws` provider
  test/unit/lib/plugins/aws/provider.test.js
Labels: refactor

#9282 test: Adjust tests to use new `runServerless` syntax
  test/unit/lib/plugins/aws/provider.test.js
Labels: tests

#9280 fix(AWS Local Invocation): Dont build bridge if artifact missing
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#9222 feat(AWS ALB): Make it possible to specify the TargetGroup name
  docs/providers/aws/events/alb.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/package/compile/events/alb/index.js
  lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js
  lib/plugins/aws/package/compile/events/alb/lib/validate.js
  test/unit/lib/plugins/aws/lib/naming.test.js
  test/unit/lib/plugins/aws/package/compile/events/alb/index.test.js
Labels: cat/aws-event-alb, enhancement

#9287 refactor(AWS Credentials): Remove undocumented `provider.credentials` setting support
  lib/classes/Variables.js
  lib/plugins/aws/provider.js
  test/unit/lib/classes/Variables.test.js
  test/unit/lib/plugins/aws/invokeLocal/index.test.js
Labels: cat/aws-auth, refactor

#9267 refactor: Use `async/await` in `analytics`
  lib/classes/PluginManager.js
  lib/utils/analytics/index.js
  test/unit/lib/utils/analytics/index.test.js
Labels: refactor

#9266 feat: Support `Fn::Split` for `vpc` properties
  lib/plugins/aws/deployFunction.js
  lib/plugins/aws/provider.js
Labels: cat/aws-vpc, enhancement

#9300 fix(AWS API Gateway): Correctly recognize `type` for `authorizerId`
  lib/plugins/aws/package/compile/events/apiGateway/lib/method/authorization.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.test.js
Labels: bug, cat/aws-event-api-gateway

#9310 refactor(Telemetry): Rename `analytics` to `telemetry`
  commitlint.config.js
  lib/plugins/deploy.js
  lib/utils/telemetry/areDisabled.js
  lib/utils/telemetry/cache-path.js
  lib/utils/telemetry/generatePayload.js
  lib/utils/telemetry/index.js
  package.json
  scripts/serverless.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
  test/unit/lib/utils/telemetry/index.test.js
Labels: cat/telemetry, refactor

#9238 fix(AWS API Gateway): Deprecate invalid `apiGateway` settings
  docs/deprecations.md
  docs/providers/aws/events/apigateway.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/apiGateway/index.js
Labels: bug, cat/aws-event-api-gateway, cat/dx, deprecation

#9320 fix(AWS Local Invocation): Allow optional `package.artifact` for `java`
  lib/plugins/aws/invokeLocal/index.js
Labels: bug, cat/local-dev

#9318 fix(AWS IAM): Deprecate 'iam.role.permissionBoundary'
  docs/deprecations.md
  docs/providers/aws/guide/iam.md
  lib/plugins/aws/package/lib/mergeIamTemplates.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/lib/mergeIamTemplates.test.js
Labels: cat/aws-iam, deprecation, enhancement

#9324 CLI: Recognize `--aws-profile` option by schema
  lib/cli/commands-schema/common-options/aws-service.js
  test/unit/lib/cli/filter-supported-options.test.js
Labels: bug, cat/cli

#9327 Variables: Clear escape slashes
  lib/configuration/variables/parse.js
  lib/configuration/variables/resolve.js
  test/unit/lib/configuration/variables/parse.test.js
  test/unit/lib/configuration/variables/resolve.test.js
Labels: bug, cat/variable

#9296 #6031 Add the `sls:stage` variable
  docs/deprecations.md
  docs/guides/cicd/preview-deployments.md
  docs/providers/aws/guide/credentials.md
  docs/providers/aws/guide/functions.md
  docs/providers/aws/guide/iam.md
  docs/providers/aws/guide/layers.md
  docs/providers/aws/guide/serverless.yml.md
  docs/providers/aws/guide/services.md
  docs/providers/aws/guide/variables.md
  docs/providers/spotinst/cli-reference/stage.md
  lib/configuration/variables/sources/instance-dependent/get-sls.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-sls.test.js
Labels: cat/variable, enhancement

#9331 fix(Telemetry): Do not send request when there are no events
  lib/utils/telemetry/index.js
  test/unit/lib/utils/telemetry/index.test.js
Labels: bug, cat/telemetry

#9332 CLI: Ensure to recognize interactive CLI command properly
  lib/plugins/interactiveCli/index.js
Labels: bug, cat/cli

#9328 test: Refactor base `aws` provider credentials test
  test/unit/lib/plugins/aws/provider.test.js
Labels: refactor

#9343 API: Ensure `config.servicePath` works as an alias for `config.s…
  lib/Serverless.js
  lib/classes/Config.js
  lib/plugins/create/create.js
Labels: bug, cat/api

#9352 API: Bring back legacy `service.serviceFilename` to not break plugins
  lib/classes/Service.js
Labels: bug, cat/plugin

#9350 docs: Update `quick-start.md` typos
  docs/providers/aws/guide/quick-start.md
Labels: documentation

#9313 feat(AWS CloudFormation): Add default export names to outputs
  lib/plugins/aws/package/index.js
  lib/plugins/aws/package/lib/addExportNameForOutputs.js
  test/unit/lib/plugins/aws/deploy/index.test.js
  test/unit/lib/plugins/aws/deploy/lib/checkForChanges.test.js
  test/unit/lib/plugins/aws/package/lib/addExportNameForOutputs.test.js
Labels: cat/deployment, enhancement

#9319 #9291 fix: Create a single request validator instead of a request validator per request schema
  lib/plugins/aws/lib/naming.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.js
  test/unit/lib/plugins/aws/lib/naming.test.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.test.js
Labels: bug, cat/aws-event-api-gateway

#9359 docs: Add example on how to enable native CF for eventBridge
  docs/providers/aws/events/event-bridge.md
Labels: cat/aws-event-event-bridge, documentation

#9326 docs: Improvements for `google` provider docs
  docs/providers/google/cli-reference/invoke-local.md
  docs/providers/google/guide/credentials.md
Labels: documentation

#9368 Variables: Expose variable resolver function to variable source resolvers
  docs/providers/aws/guide/variables.md
  lib/configuration/variables/resolve.js
  lib/configuration/variables/sources/file.js
  test/unit/lib/configuration/variables/resolve.test.js
  test/unit/lib/configuration/variables/sources/file.test.js
  test/unit/lib/configuration/variables/sources/fixture/file-function-variable.js
  test/unit/lib/configuration/variables/sources/fixture/file-property-function-variable.js
Labels: cat/variable, enhancement

#9374 Send telemetry after command is processed in `scripts/serverless.js`
  lib/Serverless.js
  lib/classes/PluginManager.js
  scripts/serverless.js
Labels: cat/telemetry, refactor

#9373 feat(Templates): Update dependencies for `cloudflare` template
  lib/plugins/create/templates/cloudflare-workers-enterprise/package.json
  lib/plugins/create/templates/cloudflare-workers/package.json
Labels: cat/template

#9362 test(AWS Deploy): Add integration tests for custom deployment bucket
  test/integration/custom-deployment-bucket.test.js
Labels: tests

#9378 Pass `serverless` instance to `handle-error`
  lib/cli/handle-error.js
  scripts/serverless.js
Labels: cat/cli, refactor

#9382 fix(AWS API Gateway): Ensure unique name for request validator
  lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/requestValidator.test.js
Labels: bug, cat/aws-event-api-gateway

#9384 Ensure telemetry is not emitted during tests
  test/mochaPatch.js
Labels: cat/telemetry, tests

#9388 Do not report telemetry for help commands
  scripts/serverless.js
Labels: cat/telemetry, enhancement

#9394 Documentation: Remove reference to not supported `--noDeploy`
  docs/providers/aws/cli-reference/deploy.md
  docs/providers/azure/cli-reference/deploy.md
  docs/providers/kubeless/cli-reference/deploy.md
Labels: documentation

#9397 Telemetry: Ensure that container commands do not trigger telemetry
  lib/cli/resolve-input.js
Labels: bug, cat/telemetry

#9380 Fix parsing of the artifact S3 url
  docs/providers/aws/guide/packaging.md
  lib/plugins/aws/package/compile/functions.js
  lib/plugins/aws/utils/parse-s3-uri.js
  test/unit/lib/plugins/aws/utils/parse-s3-uri.test.js
Labels: bug, cat/deployment

#9401 feat(Telemetry): Add `commandDurationMs` to payload
  bin/serverless.js
  lib/utils/telemetry/generatePayload.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: cat/telemetry, enhancement

#9406 CLI: Ensure no general help is listed under interactive setup help
  lib/cli/render-help/index.js
  test/unit/scripts/serverless.test.js
Labels: bug, cat/cli-onboarding
