Repository serverless/serverless, pull requests merged in 2021-11, with the labels that each got.

#10178 feat(AWS Local Invocation): Support decimal serialization for Python
  lib/plugins/aws/invokeLocal/runtimeWrappers/invoke.py
Labels: enhancement, cat/local-dev

#10183 CLI: Improve main progress message
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/info/index.js
Labels: refactor, cat/cli

#10184 Separate internal and plugin output sections
  lib/Serverless.js
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/info/display.js
  lib/plugins/aws/info/index.js
Labels: refactor, cat/plugin

#10180 feat(Telemetry): Add `projectId` to payload
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/provider.js
  lib/utils/telemetry/generatePayload.js
  test/unit/lib/plugins/aws/deploy/lib/extendedValidate.test.js
  test/unit/lib/plugins/aws/deployFunction.test.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  test/unit/lib/plugins/aws/package/lib/generateCoreTemplate.test.js
  test/unit/lib/plugins/aws/package/lib/stripNullPropsFromTemplateResources.test.js
  test/unit/lib/utils/telemetry/generatePayload.test.js
Labels: enhancement, cat/telemetry

#10173 feat: Allow `legacy` option for `lambdaHashingVersion` property
  docs/deprecations.md
  lib/plugins/aws/package/compile/functions.js
  lib/plugins/aws/provider.js
Labels: enhancement

#10186 feat: Remove support for Node v10
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  bin/serverless.js
  package.json
  test/unit/lib/classes/PluginManager.test.js
Labels: enhancement

#10191 feat: Remove `studio` command schema
  lib/cli/commands-schema/aws-service.js
Labels: enhancement

#10189 Release v2.65.0
  CHANGELOG.md
  package.json
Labels: enhancement

#10196 v3: CLI: Do not decorate `cli.log` logs
  lib/classes/CLI.js
Labels: enhancement, cat/cli

#10198 feat(AWS API Gateway): Error on tracing or logs set for external API
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: enhancement, breaking

#10204 CLI: Do not recomment `frameworkVersion` when running pre release
  lib/classes/Service.js
Labels: bug, cat/cli

#10205 feat: Disallow custom nested configuration path
  lib/cli/resolve-configuration-path.js
  test/unit/lib/cli/resolve-configuration-path.test.js
Labels: enhancement

#10208 feat(Variables): Recognize `:` in address to support `output` source
  lib/configuration/variables/parse.js
  test/unit/lib/configuration/variables/parse.test.js
Labels: bug, cat/variable

#10177 fix(AWS API Gateway): Ensure `shouldStartNameWithService` support
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: bug, cat/aws-event-api-gateway

#10209 feat: Introduce `enforce-hash-update` flag to help hashing migration
  docs/deprecations.md
  docs/guides/upgrading-v3.md
  lib/cli/commands-schema/aws-service.js
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/package/compile/functions.js
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: enhancement, cat/lambda

#10211 CLI: Improve timestamp visiblity in `deploy list` output
  lib/plugins/aws/deployList.js
Labels: refactor, cat/cli

#10215 Update middy to next major on aws-nodejs-typescript template
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
Labels: cat/template

#10216 docs: change grammar in readme for accessibility purposes
  README.md
Labels: documentation

#10221 fix(AWS API Gateway): Ensure proper `apiId` resolution
  lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
Labels: bug, cat/aws-event-api-gateway

#10194 CLI: Expose dashboard provider name in deploy tagline log
  lib/plugins/aws/deploy/index.js
Labels: cat/dashboard, cat/cli

#10233 docs: Fix typo in `credentials`
  docs/providers/google/guide/credentials.md
Labels: documentation

#10234 feat(Templates): Update `ts-node` for es2020 and es2021 support
  lib/plugins/create/templates/aws-nodejs-typescript/package.json
Labels: enhancement, cat/template

#10250 Test: Ensure to fully cleanup `serverless` installation when testing plugins
  test/fixtures/programmatic/curated-plugins/_setup.js
Labels: tests, cat/plugin

#10251 CLI: Fix component template recognition in triage.
  lib/cli/triage.js
  test/unit/lib/cli/triage/fixtures/@serverless/components/yml/template-with-root-config/foo/serverless.yml
  test/unit/lib/cli/triage/fixtures/@serverless/components/yml/template-with-root-config/serverless.yml
Labels: bug, cat/cli

#10255 feat(AWS Lambda): Change default hashing algorithm
  docs/deprecations.md
  docs/providers/aws/guide/functions.md
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/package/compile/functions.js
  test/fixtures/programmatic/apiGateway/serverless.yml
  test/fixtures/programmatic/checkForChanges/serverless.yml
  test/fixtures/programmatic/curated-plugins-python/serverless.yml
  test/fixtures/programmatic/curated-plugins/serverless.yml
  test/fixtures/programmatic/function/serverless.yml
  test/fixtures/programmatic/functionCloudFront/serverless.yml
  test/fixtures/programmatic/functionLayers/serverless.yml
  test/fixtures/programmatic/httpApi/serverless.yml
  test/fixtures/programmatic/httpApiCatchAll/serverless.yml
  test/fixtures/programmatic/httpApiExport/serverless.yml
  test/fixtures/programmatic/invocation/serverless.yml
  test/fixtures/programmatic/layer/serverless.yml
  test/fixtures/programmatic/multiService/serviceA/serverless.yml
  test/fixtures/programmatic/packageArtifact/serverless.yml
  test/fixtures/programmatic/packageArtifactInServerlessDir/serverless.yml
  test/fixtures/programmatic/packaging/serverless.yml
  test/fixtures/programmatic/plugin/serverless.yml
  test/fixtures/programmatic/requestParameters/serverless.yml
  test/fixtures/programmatic/requestSchema/serverless.yml
  test/integrationPackage/fixtures/artifact/serverless.yml
  test/integrationPackage/fixtures/individually-function/serverless.yml
  test/integrationPackage/fixtures/individually/serverless.yml
  test/integrationPackage/fixtures/regular/serverless.yml
  test/unit/lib/classes/Service.test.js
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: enhancement, breaking, deprecation

#10256 feat(Templates): Remove `lambdaHashingVersion` setting
  lib/plugins/create/templates/aws-alexa-typescript/serverless.yml
  lib/plugins/create/templates/aws-clojure-gradle/serverless.yml
  lib/plugins/create/templates/aws-clojurescript-gradle/serverless.yml
  lib/plugins/create/templates/aws-csharp/serverless.yml
  lib/plugins/create/templates/aws-fsharp/serverless.yml
  lib/plugins/create/templates/aws-go-dep/serverless.yml
  lib/plugins/create/templates/aws-go-mod/serverless.yml
  lib/plugins/create/templates/aws-go/serverless.yml
  lib/plugins/create/templates/aws-groovy-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-gradle/serverless.yml
  lib/plugins/create/templates/aws-java-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-gradle-kts/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/serverless.yml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/serverless.yml
  lib/plugins/create/templates/aws-kotlin-nodejs-gradle/serverless.yml
  lib/plugins/create/templates/aws-nodejs-docker/serverless.yml
  lib/plugins/create/templates/aws-nodejs-ecma-script/serverless.yml
  lib/plugins/create/templates/aws-nodejs-typescript/serverless.ts
  lib/plugins/create/templates/aws-nodejs/serverless.yml
  lib/plugins/create/templates/aws-provided/serverless.yml
  lib/plugins/create/templates/aws-python-docker/serverless.yml
  lib/plugins/create/templates/aws-python/serverless.yml
  lib/plugins/create/templates/aws-python3/serverless.yml
  lib/plugins/create/templates/aws-ruby/serverless.yml
  lib/plugins/create/templates/aws-scala-sbt/serverless.yml
Labels: cat/template

#10265 Add functionResponseTypes sqs
  docs/providers/aws/events/sqs.md
  lib/plugins/aws/package/compile/events/sqs.js
  test/unit/lib/plugins/aws/package/compile/events/sqs.test.js
Labels: enhancement, cat/aws-event-sqs

#10272 feat(AWS S3): Support `Fn::If` CF function for s3 event
  lib/plugins/aws/package/compile/events/s3/index.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/s3/index.test.js
Labels: enhancement, cat/aws-event-s3, cat/config-schema

#10236 feat(AWS Deploy): Support `disableRollback` parameter
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/deploy/lib/createStack.js
  lib/plugins/aws/lib/updateStack.js
  lib/plugins/aws/provider.js
Labels: enhancement, cat/deployment

#10237 feat(AWS Lambda): Add `platform` option for container images
  docs/providers/aws/guide/functions.md
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/provider.test.js
Labels: enhancement, cat/lambda-image

#10263 fix(AWS sqs): Ensure only `ARN` in plain string form is allowed as direct `sqs` event assignment
  lib/plugins/aws/package/compile/events/sqs.js
Labels: bug, cat/aws-event-sqs

#10289 Update jackson dependencies to a secure version
  lib/plugins/create/templates/aws-java-maven/pom.xml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/pom.xml
Labels: enhancement, cat/template, runtime/java

#10285 Add event filtering patterns to stream event type
  docs/providers/aws/events/streams.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/stream.js
  test/unit/lib/plugins/aws/package/compile/events/stream.test.js
Labels: enhancement, cat/aws-event-stream

#10290 docs(AWS Local Invocation): Update supported runtimes
  docs/providers/aws/cli-reference/invoke.md
Labels: documentation

#10288 feat(AWS Deploy): Ensure consistent function state in `deploy function`
  lib/plugins/aws/deployFunction.js
  test/unit/lib/plugins/aws/deployFunction.test.js
  test/unit/lib/plugins/package/lib/packageService.test.js
Labels: enhancement, cat/deployment
