Repository serverless/serverless, pull requests merged in 2021-12, with the labels that each got.

#10297 feat(AWS SQS): Support `filterPatterns`
  docs/providers/aws/events/sqs.md
  docs/providers/aws/events/streams.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/sqs.js
  lib/plugins/aws/package/compile/events/stream.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/package/compile/events/sqs.test.js
Labels: enhancement, cat/aws-event-sqs

#10296 Variables: Ensure complete resolution of address and params values
  lib/configuration/variables/resolve.js
  test/unit/lib/configuration/variables/resolve.test.js
Labels: bug, cat/variable

#10273 feat(AWS Kafka): Add support for `mTLS` access configuration
  docs/providers/aws/events/kafka.md
  lib/plugins/aws/package/compile/events/kafka.js
  test/unit/lib/plugins/aws/package/compile/events/kafka.test.js
Labels: enhancement, cat/aws-event-kafka

#10304 Strip null values from CloudFormation template resource properties
  lib/plugins/aws/package/lib/stripNullPropsFromTemplateResources.js
  test/unit/lib/plugins/aws/package/lib/stripNullPropsFromTemplateResources.test.js
Labels: bug, cat/lambda

#10309 Refactor lib/plugins/aws/utils with Async
  lib/plugins/aws/utils/credentials.js
  lib/plugins/aws/utils/resolveCfImportValue.js
  lib/plugins/aws/utils/resolveCfRefValue.js
Labels: refactor

#10313 docs: Address #10242 to clarify v3 instructions
  docs/guides/upgrading-v3.md
Labels: documentation

#10315 ssm: Adding noDecrypt param support to SSM #10314
  docs/providers/aws/guide/variables.md
  lib/configuration/variables/sources/instance-dependent/get-ssm.js
  test/unit/lib/configuration/variables/sources/instance-dependent/get-ssm.test.js
Labels: bug, cat/variable

#10320 docs: Improve the Serverless Variables page
  docs/providers/aws/guide/variables.md
Labels: documentation

#10317 feat(AWS Deploy): Ensure existence of S3 bucket if possible
  lib/plugins/aws/deploy/index.js
  lib/plugins/aws/deploy/lib/ensure-valid-bucket-exists.js
  lib/plugins/aws/deploy/lib/existsDeploymentBucket.js
  test/unit/lib/plugins/aws/deploy/index.test.js
  test/unit/lib/plugins/aws/deploy/lib/checkForChanges.test.js
  test/unit/lib/plugins/aws/deploy/lib/createStack.test.js
  test/unit/lib/plugins/aws/deploy/lib/existsDeploymentBucket.test.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.test.js
  test/unit/lib/plugins/package/lib/packageService.test.js
Labels: enhancement, cat/deployment

#10327 v3: Remove `@serverless/components` CLI integration
  .github/prepare-canary.js
  bin/serverless.js
  lib/cli/handle-error.js
  lib/cli/render-version.js
  package.json
Labels: enhancement, breaking, cat/cli

#10339 fix(Plugins): Upgrade log4j to version 2.15.0
  lib/plugins/create/templates/aws-java-maven/pom.xml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/pom.xml
Labels: enhancement, cat/security, cat/template, runtime/java

#10363 fix(Plugins): Upgrade log4j to version 2.16.0
  lib/plugins/create/templates/aws-java-maven/pom.xml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/pom.xml
Labels: enhancement, cat/template, runtime/java

#10366 AWS Lambda: Fix event config setup for provisioned lambdas
  lib/plugins/aws/package/compile/functions.js
  test/unit/lib/plugins/aws/package/compile/functions.test.js
Labels: bug, cat/lambda

#10367 CLI: Improve error handler resolution
  lib/cli/handle-error.js
Labels: bug, cat/cli

#10371 fix(aws apiGateway): restApiRootResourceId is required when restApId is configured
  lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: bug, cat/dx, cat/aws-event-api-gateway

#10380 docs: Fixed typo in `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#10382 fix(Templates): Upgrade `log4j` in `aws-kotlin-jvm-gradle`
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/build.gradle
Labels: cat/security, cat/template, runtime/java

#10389 docs: Update `httpApi` reference in `serverless.yml.md`
  docs/providers/aws/guide/serverless.yml.md
Labels: documentation

#10388 Tests: Update sqs test run serverless
  test/unit/lib/plugins/aws/package/compile/events/sqs.test.js
Labels: refactor

#10393 Variables: Support custom sources in internal resolver
  lib/configuration/variables/index.js
Labels: refactor, cat/variable

#10395 Documentation: Update deprecations docs
  docs/deprecations.md
Labels: documentation

#10394 v3: CLI: Deprecate missing options schema
  docs/deprecations.md
  lib/cli/commands-schema/resolve-final.js
Labels: enhancement, deprecation, cat/cli

#10392 update log4j dependencies.
  lib/plugins/create/templates/aws-kotlin-jvm-gradle/build.gradle
Labels: enhancement, cat/template

#10384 feat(AWS API Gateway): Allow use of custom authorizer with authorizerId
  lib/plugins/aws/package/compile/events/apiGateway/index.js
  test/unit/lib/plugins/aws/package/compile/events/apiGateway/lib/validate.test.js
Labels: cat/aws-event-api-gateway

#10396 fix(AWS Local Invocation): Upgrade log4j to version 2.17.0
  lib/plugins/aws/invokeLocal/runtimeWrappers/java/pom.xml
  lib/plugins/create/templates/aws-java-maven/pom.xml
  lib/plugins/create/templates/aws-kotlin-jvm-maven/pom.xml
Labels: cat/template

#10409 fix(AWS Deploy): Check for VPC config change in `deploy function`
  lib/plugins/aws/deployFunction.js
  test/unit/lib/plugins/aws/deployFunction.test.js
Labels: bug, cat/deployment

#10359 docs: Consolidate "Getting started" pages into a single guide
  docs/getting-started.md
  docs/guides/plugins/README.md
  docs/providers/aws/README.md
  docs/providers/aws/examples/hello-world/csharp/README.md
  docs/providers/aws/examples/hello-world/fsharp/README.md
  docs/providers/aws/examples/hello-world/go/README.md
  docs/providers/aws/examples/hello-world/node/README.md
  docs/providers/aws/examples/hello-world/python/README.md
  docs/providers/aws/examples/hello-world/ruby/README.md
  docs/providers/aws/guide/installation.md
  docs/providers/aws/guide/intro.md
  docs/providers/aws/guide/quick-start.md
Labels: documentation

#10413 Documenation: AWS API Gateway: Fix binary response example
  docs/providers/aws/events/apigateway.md
Labels: documentation, cat/aws-event-api-gateway

#10415 feat(Telemetry): Report `projectId` in remove command
  lib/plugins/aws/remove/index.js
  lib/utils/telemetry/generatePayload.js
Labels: cat/telemetry

#10417 Replace internal old logging utils with modern interface
  lib/utils/log/consoleLog.js
  lib/utils/log/fileLog.js
  lib/utils/log/log.js
  lib/utils/log/serverlessLog.js
  lib/utils/telemetry/index.js
  lib/utils/yamlAstParser.js
Labels: refactor, cat/cli

#10418 v3: Improve post install log to reflect modern style
  package.json
  scripts/postinstall.js
Labels: refactor, cat/cli

#10383 fix(Templates): Update `aws-lambda-java-log4j2`
  lib/plugins/create/templates/aws-kotlin-jvm-gradle-kts/build.gradle.kts
  lib/plugins/create/templates/aws-scala-sbt/build.sbt
Labels: cat/security, cat/template, runtime/java

#10424 CLI: Ensure telemetry logs are issued at debug level
  lib/utils/telemetry/index.js
Labels: refactor
