Repository serverless/serverless, pull requests merged in 2023-01, with the labels that each got.

#11656 feat(AWS ActiveMQ): Support filterPatterns
  docs/providers/aws/events/activemq.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/activemq.js
  test/unit/lib/plugins/aws/package/compile/events/activemq.test.js
Labels: enhancement

#11659 feat(AWS RabbitMQ): Support filterPatterns
  docs/providers/aws/events/rabbitmq.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/rabbitmq.js
  test/unit/lib/plugins/aws/package/compile/events/rabbitmq.test.js
Labels: enhancement

#11685 Enhance default SQS permissions
  lib/plugins/aws/package/compile/events/sqs.js
  test/unit/lib/plugins/aws/package/compile/events/sqs.test.js
Labels: refactor, cat/aws-event-sqs

#11690 Add ability to give EventBridge events custom names
  docs/providers/aws/events/event-bridge.md
  lib/plugins/aws/package/compile/events/event-bridge/index.js
  test/unit/lib/plugins/aws/package/compile/events/event-bridge/index.test.js
Labels: enhancement, cat/aws-event-event-bridge

#11700 feat: Support new Melbourne region
  lib/plugins/aws/provider.js
Labels: enhancement, cat/lambda

#11705 Update the PHP Readme based on actual usage
  docs/providers/openwhisk/examples/hello-world/php/README.md
Labels: documentation, provider/openwhisk

#11706 [docs][google] Mark support for google cloud functions as experimental
  docs/providers/google/README.md
  docs/providers/google/cli-reference/invoke-local.md
  docs/providers/google/cli-reference/invoke.md
  docs/providers/google/guide/intro.md
  docs/providers/google/guide/quick-start.md
Labels: documentation, provider/google

#11709 Console: Improve warning message
  lib/cli/interactive-setup/console-setup-iam-role.js
Labels: refactor, cat/console

#11712 CLI Onboarding: Don't crash if Dashboard server is inaccessible
  lib/cli/interactive-setup/dashboard-login.js
Labels: bug, cat/dashboard, cat/cli-onboarding

#11714 Add support for Cloudformation if function for schedule
  lib/plugins/aws/package/compile/events/schedule.js
  test/unit/lib/plugins/aws/package/compile/events/schedule.test.js
Labels: enhancement, cat/aws-event-schedule
