Repository serverless/serverless, pull requests merged in 2023-06, with the labels that each got.

#11996 Update tutorial.md
  docs/tutorial.md
Labels: documentation, needs feedback

#12001 Revert "added custom resource lambda in vpc if vpc is configured"
  lib/plugins/aws/custom-resources/index.js
  test/unit/lib/plugins/aws/custom-resources/index.test.js
Labels: bug, cat/aws-vpc

#12002 Telemetry: Report installed `docker` version
  lib/utils/telemetry/generate-payload.js
  scripts/serverless.js
  test/unit/lib/utils/telemetry/generate-payload.test.js
Labels: refactor, cat/telemetry

#12004 prepare for supporting Ruby 3.2 runtime coming end of Q2 2023
  lib/plugins/aws/invoke-local/index.js
  lib/plugins/aws/provider.js
  test/unit/lib/plugins/aws/invoke-local/index.test.js
Labels: cat/local-dev, cat/lambda, runtime/ruby

#12014 chore: Remove dev mode warning
  lib/cli/interactive-setup/console-dev-mode-feed.js
  lib/cli/interactive-setup/console-enable-dev-mode.js
Labels: cat/console

#11871 Fix/websocket auth
  lib/plugins/aws/package/compile/events/websockets/lib/authorizers.js
  test/fixtures/programmatic/websocket-external-auth/core.js
  test/fixtures/programmatic/websocket-external-auth/serverless.yml
  test/unit/lib/plugins/aws/package/compile/events/websockets/lib/authorizers.test.js
Labels: bug, cat/aws-event-websocket

#12034 feat: Add support for starting position AT_TIMESTAMP to MSK events
  docs/providers/aws/events/msk.md
  docs/providers/aws/guide/serverless.yml.md
  lib/plugins/aws/package/compile/events/msk/index.js
  test/unit/lib/plugins/aws/package/compile/events/msk/index.test.js
Labels: enhancement, cat/aws-event-msk

#12040 replace got with node-fetch
  lib/utils/eventually-update.js
  lib/utils/standalone.js
  package.json
  test/integration/curated-plugins.test.js
Labels: refactor, cat/dependency
